/* PARTICIPANTE */
.header-part {
    background-color: white;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-items: center;
}

.btn-invit {
    background-color: rgb(221, 171, 99);
    color: white;
    padding: 1%;
    border-radius: 8px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 120px;
    height: 50px;
    text-align: center;
}

.btn-invit:hover {
    transform: scale(1.1);
}

.flex-act {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.calendario {
    width: 27.5%;
}

.actividades-part {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    gap: 1.2%;
    flex-wrap: wrap;
    /* para cambiar de fila */
    width: 71.5%
}

.actividad {
    width: 31.7%;
    height: 370px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 1.2%;
}

.foto-act {
    height: 130px;
    width: 100%;
    overflow: hidden;
}

.foto-act img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.datos-actividad {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 6%;
    height: 65%;
}

.dato-act {
    display: flex;
    gap: 1%;
    margin-top: 4%;
    align-items: center;
}

.dato-act i {
    font-size: 1.2rem;
    width: 25px
}

.nombre-act {
    font-size: 120%;
    color: rgb(38, 172, 213);
    font-weight: bold;
    font-weight: 400;
}

.nombre-act:hover {
    text-decoration: underline;
    color: #1958b8;
}

.layout-apuntar {
    margin-top: 8%;
    width: 100%;
    text-align: center;
}

/* INFO ACTIVIDAD */

.actividad-info {
    margin-top: 3%;
    margin-left: 9%;
    margin-right: 9%;
    background-color: white;
    border-radius: 12px;
    padding: 4%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.botones-info {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}

.btn-info {
    background-color: rgb(175, 198, 204);
    color: white;
    padding: 0.5%;
    font-size: 1.3rem;
    border: 0px;
    width: 40%;
    border-right: 0.5px solid rgb(170, 170, 170);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn-info>*:last-child {
    border-right: none;
    /* Elimina el borde derecho en el último elemento */
}

.descripcion p,
.detalles div,
.inscripcion div,
.inscripcion a {
    margin-bottom: 3%;
}

.btn-confirm {
    background-color: rgb(49, 107, 127);
    color: white;
    padding: 0.5%;
    font-size: 1rem;
    border: 0px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    text-align: center;
    float: right;
}

.btn-confirm:hover {
    background-color: rgb(33, 72, 85);
}

.atras-info {
    background-color: white;
    color: black;
    margin-left: 9%;
    padding: 0.5%;
    font-size: 1.2rem;
    border: 0px;
    width: 10%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin-top: 2%;
}

.atras-info:hover {
    background-color: rgb(230, 230, 230);
}

/* Calendario o asistencia confirmada */
.eventos {
    background-color: white;
    margin-top: 2%;
    margin-right: 2%;
    width: 25%;
}

.eventos p {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.9rem;
}

.asistencia {
    padding: 2%;
    background-color: rgb(207, 236, 250);
    text-align: center;
}

.asistencia h5 {
    font-size: 1.1rem;
    color: rgb(49, 107, 127);
}

.layout-asis {
    display: flex;
    padding: 5%;
    width: 100%;
    flex-direction: column;
}

.asis-indi {
    width: 100%;
    margin-bottom: 7px;
    display: flex;
    height: 100%;
}

.iz-asis {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 30%;
    text-align: center;
    padding: 2%;
    height: 70px;
    align-items: center;
}

.der-asis {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 240, 240);
    width: 100%;
    height: 70px;
    padding-left: 5%;
    justify-content: center;
}

/* COORDINADOR */
.header-act {
    display: flex;
    justify-content: space-between;
    margin-left: 12%;
    margin-top: 2%;
    margin-right: 12%;
    margin-bottom: 1%;
}

.btn-act {
    background-color: rgb(224, 176, 94);
    border: 2px solid;
    color: white;
    border-color: rgb(224, 176, 94);
    font-size: 115%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 0.8%;
    border-radius: 10px;
}

.btn-act:hover {
    background-color: white;
    color: rgb(224, 176, 94);
    border-color: rgb(224, 176, 94);
}

.layout-actividades {
    margin-left: 2%;
    margin-right: 2%;
}

.act-coor {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 1.2%;
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.act-coor i {
    color: rgb(94, 191, 224);
}

.btn-form {
    margin-top: 2%;
    text-align: center;
}

.btn-gest,
.btn-gest-eliminar {
    padding: 2.3%;
    background-color: rgb(79, 161, 188);
    color: white;
    width: 50px;
    text-align: center;
    justify-content: center;
    margin-right: 1.5%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn-gest:hover,
.btn-gest-eliminar:hover {
    transform: scale(1.04);
}

.btn-gest-eliminar i {
    color: white;
}

.btn-gest i {
    color: white;
}

.datos-coor {
    display: flex;
    align-items: center;
}


.iz-datos {
    width: 60%;
}

.medio-datos {
    width: 65%;
}

.der-datos {
    width: 30%;
}

.botones-coor {
    display: flex;
}

.botones-coor #enlace {
    width: 100px;
}

.contenido-nueva {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 12px;
    padding: 10px;
    margin-top: 3%;
}

.layout-editar {
    margin-left: 5%;
    margin-right: 5%;
}

.campos-form {
    display: flex;
}

.form-dato {
    width: 50%;
    margin-right: 4%;
}

#tabla-asistencia{
    width: 70%;
}

#tabla-asistencia thead{
    background-color: rgb(207, 236, 250);
    color: rgb(49, 107, 127);
}

#tabla-asistencia td, th {
    vertical-align: middle;
    text-align: center; 
}


/* RESPONSIVE */
@media (max-width: 767px) {
    /* Pantallas de menos de 768 píxeles de ancho */

    #sidebar-container {
        display: none;
    }

    .actividades-part {
        flex-direction: column;
        align-content: space-around;
    }

    .actividad {
        width: 84%;
        margin-bottom: 3.5%;
    }

    .form-actividad label{
        font-size: 0.85rem;
    }

}