.dashboard {
    padding-left: 2%;
    padding-right: 2%;

    padding-top: 75px;
}

.tit-dash {
    padding: 1.3%;
}

/* valores progreso, lo de arriba del todo */
.valores-progreso {
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    gap: 1%;
}

.valor {
    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
    align-items: center;
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.flex-valor {
    display: flex;
    width: 100%;
    height: 100%;
}

.iz-valor {
    font-size: 220%;
    width: 30%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.der-valor {
    width: 70%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dato-valor {
    float: left;
    width: 100%;
    padding-left: 5%;
    font-weight: bold;
    font-size: 170%;
}

.bottom-valor {
    float: left;
    width: 100%;
    padding-left: 5%;
    font-size: 110%;
}

/* Gráficas */
.graficas-progreso {
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.progreso-datos {
    width: 50%;
    padding: 20px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
    align-items: center;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 5%;
}

/* contenido de Peso y perímetro abdominal */
.layout-grafica {
    display: flex;
    flex-direction: column;
}

.header-progreso {
    display: flex;
    justify-content: space-between;
}

#top-grafica {
    flex-basis: 60%;
}

.botones-prog {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    flex-basis: 40%;
}

.botones-prog button {
    margin-right: 10px;
}

.btn-form {
    display: flex;
    gap: 2%;
    justify-content: center;
}

.btn-reg, .btn-reg-progreso {
    font-size: 15px;
    background-color: rgb(251, 179, 116);
    border: 0.5px solid rgb(251, 179, 116);
    color: white;
    width: 25%;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn-reg-progreso{
    background-color: #6ca4c7;
    border: 0.5px solid #6ca4c7;


}

.btn-plus,
.btn-plus2 {
    font-size: 22px;
    color: rgb(251, 179, 116);
}

.btn-plus:hover {
    color: black;
}

.btn-reg:hover {
    transform: scale(1.1);
}

.pesoTabla {
    overflow-y: scroll;
    flex-basis: 60%;
    box-sizing: border-box;
    max-height: 240px;
}

/* para que no aparezcan las flechitas en el input de tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* asistencia sesiones */
.asis-gr {
    display: flex;
    width: 100%;
}

.tit-asis {
    width: 50%;
    margin-left: 1.3%;
    margin-top: 2%;
}

.asistencia {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.asis-ind {
    display: flex;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.asis-sesion {
    width: 10%;
}

.asis-sesion i {
    font-size: 160%;
}

/* filtro */
.filtro-fechas {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
    gap: 1%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.filtro {
    gap: 1%;
    display: flex;
    width: 50%;
    align-items: center;
}

/* Progreso indivual (vista coordinador) */
.header-coor{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.valor-perdida{
    display: flex;
    justify-content: flex-end;
    gap: 1.3%;
}

.perdida-indi{
    width: 50%;
    padding: 20px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.flex-progreso {
    display: flex;
    flex-direction: column;
}

.progreso-datos-coor {
    padding: 20px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
    align-items: center;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 2%;
    height: 360px;
}

@media (max-width: 767px) {
    /* Pantallas de menos de 768 píxeles de ancho */

    #sidebar-container {
        display: none;
    }

    .graficas-progreso {
        flex-direction: column;
    }

    .progreso-datos {
        width: 100%;
        margin-top: 2%;
    }

    .btn-reg {
        width: 40%;
    }

    .valores-progreso {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        ;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3%;
        height: 200px;
    }

    .valor {
        width: 100%;
    }

    .asis-ind {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        ;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2%;
        padding: 6%;
    }

    .asis-gr h5 {
        font-size: 1rem;
    }

    .dashboard {
        margin-bottom: 12%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}