a{
    text-decoration: none;
}

#sidebar-container{
    background-color: #1A5276;
    color: white;
    min-height: 100vh; /*altura mínima*/
    width: 35vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem; /*arriba y abajo | a los lados*/
    text-align: center;
}

#sidebar-container .menu{
    width: 18rem;
    color: rgb(151, 149, 149);
    font-size: 16px;
}

.navbar-expand-lg .navbar-collapse  {
   justify-content: space-between;
    font-size: 19px;
}

.navbar-expand-lg .navbar-nav{
    position: relative;
    left: -35px;
}

.navbar-expand-lg .burger{
    position: relative;
    left: 16px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    left: -30px;
}

.burger .btn{
    font-size: 21px;
    background-color: #1A5276;
    color: white;
}

/* boton grupos y participantes */
.utilidades{
    text-align: center;
    color: white;

}
