body{
    background-color: rgb(240, 238, 238);
}

a{
    text-decoration: none;
}

/* establecer estilos de scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
   background-color: #555;
}

#ojo:hover{
    color: grey;
}

#sidebar-container{ /* menu lateral abierto*/
    background-color: #13405d;
    color: white;
    min-height: 100vh; /*altura mínima*/
    width: 250px;
    transition: all 0.5s ease;
    padding: 6px 14px;

    position: fixed;
}

#sidebar-container.active{
    width: 10vh;
}

#header.active{
    margin-left: -11.7%;
    transition: all 0.5s ease;
}

#sidebar-container .logo{
    padding: 10px; /*arriba y abajo | a los lados*/
    text-align: center;
    pointer-events: none;
}

#sidebar-container .logo img{
    opacity: 1;
    pointer-events: none;
    width: 75px;
    height: 75px;
    transition: all 0.5s ease;
    position: relative;
}

#sidebar-container.active .logo img{
    opacity: 1;
    width: 52px;
    height: 53px;
    transition: all 0.5s ease;
    position: relative;
    right: 15px;
}

#sidebar-container .logo h4{
    opacity: 1;
    transition: all 0.8s ease;
}

#sidebar-container.active .logo h4{
    opacity: 0;
    transition: all 0.1s ease;
}

#sidebar-container ul{
   margin-top: 20px;
   padding-left: 0
}

#sidebar-container ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    line-height: 50px;
    border-radius: 12px;
}

#sidebar-container ul li a{
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 12px;
    transition: all 0.4s ease;
}

#sidebar-container ul li a:hover{
    background: white;
    opacity: 0.8;
    color: #13405d;
}

#sidebar-container ul li a i{
    height: 55px;
    min-width: 55px;
    border-radius: 12px;
    line-height: 55px;
    text-align: center;
    transition: all 0.1s ease;
}

#sidebar-container.active ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    position: relative;
    right: 1.7px;
    font-size: 20px;
    transition: all 0.1s ease;
}

#sidebar-container .nombre-enlaces{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease;
}

#sidebar-container.active .nombre-enlaces{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;

}

#header{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-left: 8px;
    padding-right: 20px;

    position: fixed;
    top: 0;
    right: 0;
    left: 251px;

    z-index: 999; /* determina que elementos están encima de otros */
    transition: all 0.5s ease;
}

/* estos hay que pasarlo a ids*/
.navbar-expand-lg .navbar-collapse  {
   justify-content: space-between;
    font-size: 19px;
}

.navbar-expand-lg .navbar-nav{
    margin-left: auto;
    left: -5%;
}

.navbar-expand-lg .burger{
    left: 4%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
}

.burger .btn{
    font-size: 26px;
    color: black;
}

.burger .btn:hover{
    background-color: rgb(237, 237, 237);
}

/* boton grupos y participantes */
.utilidades{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:  wrap;
    min-height: 90vh; /*altura mínima*/

    padding-top: 75px;
}

.utilidades.active{
    transition: all 0.5s ease;

}

.btn-util{
    color: rgb(122, 184, 212);
    background-color: white;
    padding: 2vw;
    border-radius: 5px;
    font-size: 5vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;    
    min-height: 25vh; /*altura mínima*/
    width: 20vw;
    height: 15vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-util:hover{
    color: white;
    background-color: rgb(122, 184, 212);
}
.btn-util-bis{
    color: white;
    background-color: rgb(122, 184, 212);
    padding: 2vw;
    border-radius: 5px;
    font-size: 5vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;    
    min-height: 25vh; /*altura mínima*/
    width: 20vw;
    height: 15vw;
    margin: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-util-bis:hover{
    color: rgb(122, 184, 212);;
    background-color: white
}
.layout-util{
    display: flex;
    flex-direction: column;
}

#nombre{
    color: rgb(122, 184, 212);
}

/* Botones de acción - tabla participantes */

#participantes, #grupos{
    background-color: white;
    margin:0 auto;
    width: 90%;
}

#btn-part, #btn-admi{
    color: white;
    background-color: #6ca4c7;
}

/* Administrador */
.flex-usuarios{
    display: flex;
}

.top-admin{
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

/*BOTONES FILTRADO*/

#filtros{
    margin-top: 4%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

#btn-filtrarALTA, #btn-filtrarBAJA {
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #505b83;
    border-radius: 45%;

}
  
#btn-filtrarALTA:hover {
    background-color: #434b6a;
    color: white;
}

#btn-filtrarBAJA:hover {
    background-color: #434b6a;
    color: white;
}

#buscadorPart{
    width: 25%;
}

/*BOTONCITOS ICONOS CON LO DE ARRIBA*/

#btn-icono{
    color: #6ca4c7;
}

.btn-icono:hover{
    color: white;
    background-color: rgb(122, 184, 212);
}



/*PRUEBAS PERFIL*/

.cuerpoPerfil{
    /*background-color: #afc0cb;*/
    /*height: 600px;*/
    max-height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
    flex-direction: column;
    padding-top: 75px;
}

.cardi2{
    width: 90%;
    height: 500px;
    background: #fff;
    border-radius:20px;
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.13);
}

.cardi2::before{
    content: "";
    position: absolute;
    top:5%;
    width: 95%;
    height: 160px;
    z-index: 1;
    border-radius: 20px 20px 0 0;
    background: #13405d;
    box-shadow: 0 0 20px rgba(0,0,0,0.13);
    transform-origin: bottom;
    transition: transform .4s;

}


.cardi2 .imagenPerfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 10;
    transform: translateY(50px);
    border:10px solid #fff;
    overflow: hidden;
    position: absolute;
    background: #fff;
}

.cardi2 .imagenPerfil .img{
    width: 120%;
    height: 120%;
    transform: translate(-8%,-8%);

    border-right: 5px solid white;

}

.contenidoPerfil{
    width: 100%;
    height: 80%;
    transform: translateY(170px);
    display: flex;
    flex-direction: column;
    z-index:20;
    align-items: center;
}


.contenidoPerfil p{
    margin:0 0;
}

.centroPerfil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box{
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    /*display: none;*/

    

}

/* EDITAR PERFIL */

.layout-edit{
    background-color: white;
    border-radius: 8px;
    border: 1px;
    margin-top: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cont-edit{
    display: flex;
}

.cont-edit #foto-perfil{
    border: 1px solid #999eaf;
    border-radius: 50%;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.col-edit{
    padding: 10px;
}

.col-izq{
    flex-basis: 30%;
    text-align: center;
}

.col-der{
    flex-basis: 70%;
}

#btn-edit{
    color: white;
    background-color: #6ca4c7;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-size: 18px;
}

#btn-edit:hover {
    transform: scale(1.1);
}

#btn-cancel:hover {
    transform: scale(1.1);
}

#btn-cancel{
    color: black;
    background-color: white;
    width: 150px;
    font-size: 18px; 
    background-color: rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.avatares{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.avatar{
   object-fit: cover;
   flex-basis: 1%;
}

#avatar-header{
    border-radius: 50%;
    border: 0.7px solid #acd9e2; 
    overflow: hidden;
    background-color: #acd9e2;
    padding: 0.8%;
}

#btn-modal{
    cursor: pointer;
}

#btn-404{
    color: white;
    background-color: rgb(196, 86, 86);
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-size: 16px;
}

#btn-404:hover {
    transform: scale(1.1);
}

/*COSILLAS INDEX GRÁFICOS*/

.fondoGraficas{
    width: 60%;
    height: 30%;
    margin-left: 20%;
}

/*COSILLAS DE OBJETIVOS*/

input[type="date"] {
    background-color: #f2f2f2;
    color: #333;
}
/* perfil de baja */
.perfil-baja{
    padding: 5px;
    display: flex;
    gap: 3%; /* espacio entre elementos */
    margin-left: 2%;
    margin-right: 2%;
}

.column-baja{
    flex-basis: 50%;
    background-color: white;
    height: 50%;
    display: flex;
    flex-direction: column; /* verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 12px;

}

.top-baja{ /* foto y nombre */
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #6ca4c7;
    width: 100%;
    height: 40%;
    margin-bottom: 1.5%;
    position: relative; 
    top: -8.5%;
}

.element-top{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.img-baja{
    position: relative;
    display: inline-block;
}

.img-baja img {
    background-color: white;
    border-radius: 15px;
}

.dato-baja{
    background-color: white;
    list-style: none;
    border: 0.8px solid #6ca4c7;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 12px;
    width: 70%;

    display: flex;
}

.tit-input{
    background-color: #6ca4c7;
    color: white;
    border-left: 0.8px solid #6ca4c7;
    border-radius: 10px 0 0 10px;
    padding: 2%;
    flex-basis: 35%;
    text-align: left;
}

.span-baja{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 65%;
    margin-left: 5%;
}

#contactar{
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#contactar i{
    color: rgb(250, 208, 153);
    font-size: 300%;
}

.tit-info{
    margin-bottom: 4%;
}

.telefono{
    margin-top: 4%;
    border: 0.8px solid rgb(250, 208, 153);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 12px;
    padding: 3%;
    color: black;
    background-color: rgb(250, 208, 153);
}

/* no tiene acceso */
.acceso{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    padding-top: 75px;
}

/* perfil coordinador */

.header-coord{
    display: flex;
    justify-content: space-around;
}

#btn-coord{
    color: white;
    background-color: #6ca4c7;
    height: 100%;
}

#btn-coord:hover{
    transform: scale(1.1);
    
}

.perfil-coord{
    background-color: white;
    height: 50%;
    display: flex;
    flex-direction: column; /* verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 12px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

.dato-coord{
    background-color: white;
    list-style: none;
    border: 0.8px solid #6ca4c7;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 12px;
    width: 70%;

    display: flex;
}

.tit-coord{
    background-color: #6ca4c7;
    color: white;
    border-left: 0.8px solid #6ca4c7;
    border-radius: 10px 0 0 10px;
    padding: 2%;
    flex-basis: 35%;
    text-align: left;
}

.span-coord{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 65%;
    margin-left: 5%;
}

.input-group select {
    appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 1.5l3 3 3-3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
    padding-right: 2.5rem;
  }

  .input-group input {
    margin-left: 2rem;
  }


/* RESPONSIVE */
@media (max-width: 767px) {
    /* Pantallas de menos de 768 píxeles de ancho */

    .d-flex {
      width: 100%;
    }

    #sidebar-container {
        display: none;
    }
    
    .col-form-label {
        font-size: 9px;
        margin: 1vw;
    }
    .form-perfil {
        margin: 0 5%;
    }

    .input-group {
        flex-direction: row;
      }

      .input-group label {
        margin-right: 2rem;
        margin-left: 0;
      }
      
      .input-group input {
        margin-left: 2rem;
      }

      .input-group select {
        width: auto;
        margin-right: 1rem;
      }

    #btn-part {
        display: block;
        margin: 10px auto;
    }
    
  
    .btn-util {
        height: 25vw;
        width: 20vw;
        font-size: 5vw;
        padding: 10vw;
        margin: 2.5vw;
      }
    
      .btn-util-bis {
        height: 25vw;
        width: 20vw;
        font-size: 5vw;
        padding: 10vw;
        margin: 2.5vw;
      }

}

