.juego{
    padding-top: 75px;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 12%;
}

.header-juego{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
}

.header-juego i{
    color: rgb(253, 196, 122);
    font-size: 2rem;
}

.tableJuego{
    margin-top: 2.5%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-instrucciones{
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(253, 196, 122);
    padding: 1%;
    border-radius: 12px;
    width: 120px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.btn-instrucciones:hover{
    background-color: rgb(255, 183, 88);
}