
    .material {
      width: 30%;
      margin: 1%;
      transition: all 300ms;
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 5%;
      text-align: center;
    }

    .material:hover {
      width: 33%;
    }

    .material .cover {
      width: 100%;
      height: 33%;
      position: relative;
      overflow: hidden;
      margin-bottom: 7%;
      margin-top: 5%;
      font-size: 2.5vw; 
    }

    .material .descripcion {
      padding: 10%;
      word-wrap: break-word;
      transition: all 300ms;
      border-radius: 2%;
    }

    .btn-part {
      height: 10vw;
      width: 15vw;
      font-size: 2.5vw;
      padding: 4vw;
      margin: 2.5vw;
    }

    @media (min-width: 768px) {
      .material{
        min-width: 70px;
      }
      .btn-part {
        height: auto;
        width: auto;
        font-size: 0.5rem;
        padding: 0.5rem;
        margin: 2.5vw;
      }
    }
