.datos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
}

.dato {
    display: flex;
    flex-basis: calc(100% / 5);
    align-items: center;
    border: 1px solid #ccc;
    justify-content: space-around;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 4%;
    margin: 2%;
}

.dato h5 {
    padding: 3%;
}