.layout-sesiones{
    width: 100%;
    height: 89vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 78px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

/* botones sesiones 1 a 10*/
.btn-sesiones ul{
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px 150px ;
}

.btn-sesiones ul li .b-ses {
    text-align: center;
    display: inline-block;
    font-size: 40px;
    color: white;
    background-color: #eeca9a;
    padding: 15px;
    width: 100%;
    border: 1px solid;
    border-color: #eeca9a;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-sesiones ul li .b-ses:hover{
    color: white;
    background-color: #ebab58;
    border-color: #ebab58;
} 

/* Sesión individual */
.layout-sesion{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: white;
    margin: 2%;
    padding: 3%;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3%;
}

.tit-sesion{
    background-color: #eeca9a;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    height: 5%;
    padding: 1%;
    color: white;
    text-align: center;
}

.flex-sesion{
    display: flex;
    gap: 5%;
    justify-content: center;
}

.flex-sesion label{
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 1.5%;
}

.cont-flex{
    width: 45%;
}

#observaciones{
    resize: none;
}

.enlace-diapo:hover{
    text-decoration: underline;
    color: #1958b8;
}

.botones-sesion{
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 5%;
}

.btn-sesion{
    width: 14%;
    text-align: center;
    border: none;
    padding: 1%;
    font-size: 120%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
}

.btn-sesion:hover{
    transform: scale(1.1);
}

#atras{
    background-color: white;
    color: black;
}

#guardar{
    background-color: #b59770;
    color: white;
}

.layout-ficha0 h3{
    background-color: #e4b383;
    color: white;
    padding: 4px;
}

.table-ficha0{
    background-color: white;
    padding: 4px;
    width: 100%;
    vertical-align: top;
}

.thead-ficha0{
    text-align:center;
    background-color: blue;
    color: white;
}

/* FICHA 1*/

/* RESPONSIVE */
@media (max-width: 767px) {
    /* Pantallas de menos de 768 píxeles de ancho */

    #sidebar-container{
        display: none;
    }

    .btn-sesiones ul {
        display: grid;
        align-items: center;
        justify-items: end;
        grid-gap: 1px;
        grid-template-columns: auto auto;
        grid-template-rows: 100px 100px 100px 100px 100px;
    }

    .btn-sesiones ul li .b-ses { 
        font-size: 25px;
        padding: 10px;
    }

    .layout-sesion{
        width: 85%;
    }
    
    .btn-sesion{
        width: 40%;
        font-size: 80%;
    }

    .enlace-diapo{
        font-size: 65%;
    }

    .cont-flex img{
        width: 15px;
    }

    .cont-flex label{
        font-size: 93%;
    }

    .cont-flex select{
        font-size: 84%;
    }

    .cont-flex ::placeholder{
        font-size: 70%;
    }
}