<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/valoracion.js"></script>

    <title>Formulario de Actividad Física - Estepper</title>

</head>


<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>


            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- MENÚ MÓVIL -->
        <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>
            <a th:href="@{/listaGrupos}">
                <i class="fa-solid fa-users"></i>
            </a>
            <a th:href="@{/listado}">
                <i class="fa-solid fa-address-card"></i>
            </a>

        </div>

        <div id="contenido">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="@{/img/p1.png}" alt="imagenPerfil"
                    id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="40" th:src="@{/img/p1.png}" alt="imagenPerfil" id="avatar-header" />
                                <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div style="padding-top: 75px; margin-bottom: 15%;">
                <div th:if="${actfisica == null}" class="bg-white border border-1 p-5 rounded-4"
                    style="margin-left: 45px; margin-right: 45px; margin-top: 20px">
                    <div
                        style="display: grid;justify-content: center; align-items: center; background-color:azure;border-radius: 12px; margin-left: 10%; margin-right: 10%;">
                        <h4
                            style="margin-top: 8%; margin-left: 5%; margin-right: 5%;  margin-bottom: 8%; color:rgb(122, 184, 212)">
                            Necesita rellenar los formularios de Exploración y de Findrisc para acceder a este
                            formulario.</h4>
                    </div>
                </div>
                <div th:unless="${actfisica == null}" class="bg-white border border-1 p-5 rounded-4"
                    style="margin-left: 45px; margin-right: 45px; margin-top: 20px">
                    <div
                        style="display: grid; justify-content: center; align-items: center; background-color:#0dcaf0;border-radius: 12px;">
                        <h4 style="margin-top: 8%; color:azure">Actividad física</h4>
                    </div>
                    <form class="form-perfil" method="post" th:action="@{'/process_actfisica/' + ${participante.id}}"
                        th:object="${actfisica}">

                        <div><label class="col-20 col-form-label">
                                <h4>ACTIVIDAD FÍSICA VIGOROSA (A.F.V)</h4>
                            </label></div>
                        <div><label class="col-20 col-form-label">Piense acerca de todas aquellas actividades vigorosas
                                que usted realizó en los últimos 7 días. Actividades vigorosas son las que requieren un
                                esfuerzo físico fuerte y le hacen respirar mucho más fuerte de lo normal. Piense
                                sólamente en esas actividades que usted hizo por lo menos 10' continuos.</label></div>
                        <div><label class="col-20 col-form-label">1.- Durante los últimos 7 días. ¿Cuántos días realizó
                                A.F.V. como levantar objetos pesados, excavar, aeróbicos o pedalear rápido en la
                                bicicleta?</label></div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº días/semana: </label>

                            <input id="vecesafv" type="number" th:field="*{vecesafv}" class="form-control" />
                        </div>
                        <label class="col-20 col-form-label">2.- ¿Cuánto tiempo en total usualmente le tomó realizar
                            A.F.V. en uno de esos días que las realizó?</label>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº horas/día: </label>

                            <input id="horaafv" type="number" th:field="*{horaafv}" class="form-control" />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº minutos/día: </label>

                            <input style="border-color: blue;" id="minafv" type="number" th:field="*{minafv}"
                                class="form-control" readonly />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Vigorosa METS-minuto/semana: </label>

                            <input style="border-color: blue;" id="metsafv" type="number" th:field="*{metsafv}"
                                class="form-control" readonly />
                        </div>

                        <div><label class="col-20 col-form-label">
                                <h4>ACTIVIDAD FÍSICA MODERADA (A.F.M)</h4>
                            </label></div>
                        <div><label class="col-20 col-form-label">Piense acerca de todas aquellas actividades vigorosas
                                que usted realizó en los últimos 7 días. Actividades moderadas son las que requieren un
                                esfuerzo físico moderado y le hacen respirar algo más fuerte de lo normal. Piense
                                sólamente en esas actividades que usted hizo por lo menos 10' continuos.</label></div>
                        <div><label class="col-20 col-form-label">3.- Durante los últimos 7 días. ¿Cuántos días realizó
                                A.F.M. tal como cargar objetos livianos, pedalear en bicicleta a paso regular o jugar a
                                doble de tenis?</label></div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº días/semana: </label>

                            <input id="vecesafm" type="number" th:field="*{vecesafm}" class="form-control" />
                        </div>
                        <label class="col-20 col-form-label">4.- Usualmente, ¿cuánto tiempo dedica usted en uno de esos
                            días haciendo A.F.M.? </label>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº horas/día: </label>

                            <input id="horaafm" type="number" th:field="*{horaafm}" class="form-control" />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº minutos/día: </label>

                            <input style="border-color: blue;" id="minafm" type="number" th:field="*{minafm}"
                                class="form-control" readonly />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Moderada METS-minuto/semana: </label>

                            <input style="border-color: blue;" id="metsafm" type="number" th:field="*{metsafm}"
                                class="form-control" readonly />
                        </div>

                        <div><label class="col-20 col-form-label">
                                <h4>CAMINANDO</h4>
                            </label></div>
                        <div><label class="col-20 col-form-label">Piense acerca del tiempo que usted dedicó a caminar en
                                los últimos 7 días. Esto incluye trabajo en la casa, caminatas para ir de un sitio a
                                otro, o cualquier otra caminata que usted hizo únicamente por recreación, deporte,
                                ejercicio o placer.</label></div>
                        <div><label class="col-20 col-form-label">5.- Durante los últimos 7 días. ¿Cuántos días caminó
                                al menos 10' continuos?</label></div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº días/semana: </label>

                            <input id="vecescaminar" type="number" th:field="*{vecescaminar}" class="form-control" />
                        </div>
                        <label class="col-20 col-form-label">6.- Usualmente, ¿durante cuánto tiempo caminó, un día
                            cualquiera? </label>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº horas/día: </label>

                            <input id="horacaminar" type="number" th:field="*{horacaminar}" class="form-control" />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº minutos/día: </label>

                            <input style="border-color: blue;" id="mincaminar" type="number" th:field="*{mincaminar}"
                                class="form-control" readonly />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Caminar METS-minuto/semana: </label>

                            <input style="border-color: blue;" id="metscaminar" type="number" th:field="*{metscaminar}"
                                class="form-control" readonly />
                        </div>



                        <div><label class="col-20 col-form-label">
                                <h4>SENTADO</h4>
                            </label></div>
                        <div><label class="col-20 col-form-label">La última pregunta se refieree al tiemppo que usted
                                permaneció sentado/a en la semana en los últimos 7 días. Incluya el tiempo sentado/a en
                                el trabajo, la casa mirando la televisión, estudiando y en su tiempo libre, esto puedo
                                incluir tiempo sentado/a en un escritorio, visitando amigos, leyendo o permanecer
                                sentado/a o acostado/a</label></div>
                        <div><label class="col-20 col-form-label">7.- Durante los últimos 7 días. ¿Cuánto tiempo
                                permaneció sentado/a en un día en la semana?</label></div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº horas/día: </label>

                            <input id="horasentado" type="number" th:field="*{horasentado}" class="form-control" />
                        </div>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Nº minutos/día: </label>

                            <input style="border-color: blue;" id="minsentado" type="number" th:field="*{minsentado}"
                                class="form-control" readonly />
                        </div>

                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">METs totales: </label>

                            <input style="border-color: blue;" id="metstotales" type="number" th:field="*{metstotales}"
                                class="form-control" readonly />
                        </div>

                        <label class="col-4 col-form-label">
                            <h4>NIVEL DE ACTIVIDAD FÍSICA</h4>
                        </label>
                        <div class="input-group mt-2">
                            <label class="col-4 col-form-label">Clasificación nivel actividad física</label>
                            <select style="border-color: blue;" id="clasificacion" th:field="*{clasificacion}"
                                class="form-control" disabled>
                                <option value="moderada">Moderada</option>
                                <option value="vigorosa">Vigorosa</option>
                            </select>
                        </div>

                        <button class="btn btn-info text-white mt-4 w-100" type="submit"
                            onclick=myFunction()>Guardar</button>
                        <div style="float: right; margin-top: 1%;">
                            <input type="button" class="btn" id="btn-part" name="imprimir" value="Imprimir"
                                onclick="window.print();">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>