<!DOCTYPE html>

<html lang="es"
 xmlns:th="https://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <title>Formulario de Antecedentes</title>

</head>


<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}"/>
                <h4>Estepper</h4>
            </div>

            
          <ul>
            <li>
                <a th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                    <span class="nombre-enlaces">Inicio</span>
                </a>
            </li>
    
            <li>
                <a th:href="@{/actividades}">
                    <i class="fa-solid fa-person-hiking"></i>
                    <span class="nombre-enlaces">Actividades</span>
                </a>
            </li> 
        </ul>

        </div>

        <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div th:if="${antecedentes == null}" class="bg-white border border-1 p-5 rounded-4 ">
                <div
                    style="display: grid;justify-content: center; align-items: center; background-color:azure;border-radius: 5%; margin-left: 10%; margin-right: 10%;">
                    <h4 style="margin-top: 8%; margin-left: 5%; margin-right: 5%; margin-bottom: 8%; color:rgb(122, 184, 212)">Necesita rellenar los formularios de Exploración y de Findrisc para acceder a este formulario.</h4>
                </div>
            </div>
            <div th:unless="${antecedentes == null}" class="bg-white border border-1 p-5 rounded-4 ">
                <div
                    style="display: grid;justify-content: center;background-color:#0dcaf0;border-radius: 5%;">
                    <h4 style="margin-top: 8%; color:azure">Antecedentes</h4>
                </div>
                <form class="form-perfil" method="post" th:action="@{'/process_antecedentes/' + ${participante.id}}" th:object="${antecedentes}">
        
                    <label style="font-weight: bold;" class="col-4 col-form-label">ANTECEDENTES PERSONALES</label>
                    <div style="display: flex; justify-content: center; align-items: center;">
                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">H.T.A </label>
                        <select id="hta" th:field="*{hta}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label style="margin-left: 3%;"class="col-4 col-form-label">Dislipemias </label>
                        <select id="dislipemias" th:field="*{dislipemias}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label style="margin-left: 3%;"class="col-4 col-form-label">Enfermedad tiroidea</label>
                        <select id="tiroides" th:field="*{tiroides}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Pat. Musculo-esquelética</label>
                        <select id="patmuscesq" th:field="*{patmuscesq}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label style="margin-left: 3%;" class="col-4 col-form-label">Pat. Mental</label>
                        <select id="patmental" th:field="*{patmental}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label style="margin-left: 3%;" class="col-4 col-form-label">¿Toma medicación actualmente?</label>
                        <select id="medicacion" th:field="*{medicacion}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">E.C.V.</label>
                        <select id="ecv" th:field="*{ecv}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label style="margin-left: 3%;" class="col-4 col-form-label">Pat. Sensorial</label>
                        <select id="patsensorial" th:field="*{patsensorial}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label style="margin-left: 3%;" class="col-4 col-form-label">Especificar: </label>
                        
                        <input id="especificar" type="text" th:field="*{especificar}" class="form-control" />
                    </div>
                    </div>
                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">¿Fuma actualmente?</label>
                        <select id="fuma" th:field="*{fuma}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">¿Acepta programa para dejar de fumar?</label>
                        <select id="dejardefumar" th:field="*{dejardefumar}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <label style="font-weight: bold;" class="col-4 col-form-label">EXPLORACIÓN</label>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">T.A. Sistólica: </label>
                        
                        <input id="tasistolica" type="number" th:field="*{tasistolica}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">T.A. Diastólica: </label>
                        
                        <input id="tadiastolica" type="number" th:field="*{tadiastolica}" class="form-control" />
                    </div>

                    <button class="btn btn-info text-white mt-4 w-100" type="submit" onclick=myFunction()>Guardar</button>
                    <script language="JavaScript">
                        function myFunction() {
                            if(confirm("Desea guardar los datos?")){
                            alert("Datos guardados exitosamente");
                            }else{
                            alert("Usted cancelo la acción para guardar");
                            }
                        }
                    </script>
                     <div style="float: right; margin-top: 1%;">
                        <input type="button" class="btn" id="btn-part" name="imprimir" value="Imprimir" onclick="window.print();"> 
                    </div>
                </form>                      
            </div> 

        </div>
    </div>

</body>

</html>
