<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/grupos.css}">


    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>


    <title>Chat Privado - Estepper</title>


</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <div class="d-flex chatPrivado">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="menu-movil">

            <a href="/">
                <i class="fa-solid fa-house"></i>
            </a>
            <a href="/actividades">
                <i class="fa-solid fa-person-hiking"></i>
            </a>
            <a href="/listaGrupos">
                <i class="fa-solid fa-users"></i>
            </a>
            <a href="/listado">
                <i class="fa-solid fa-address-card"></i>
            </a>

        </div>

        <div class="w-100 chatitoPrivado" style="margin-left: 250px">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="@{/img/p1.png}" alt="imagenPerfil"
                    id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <a th:href="@{/chatCordAdmin}">Ayuda</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="40" th:src="@{/img/p1.png}" alt="imagenPerfil" id="avatar-header" />
                                <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <a class="dropdown-item" th:href="@{/chatCordAdmin}">Ayuda</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div style="padding-top: 75px;">

                <div class="encabezado-grupo">

                    <!-- <h3 th:text="'MENSAJES PRIVADOS CON : ' + ${participante.nickname}"></h3>-->
                    <!--<h3 th:text="'MENSAJES PRIVADOS CON : ' + ${participante.nickname}"></h3>-->

                    <div class="encabezadoMensajes">
                        <h3 th:text="'Mensajes privados con ' + ${participante.nickname}"></h3>
                    </div>


                    <div class="bordes-chat" style="width: 90%;">
                        <section class="chat-area">
                            <header>
                                <img th:src="${participante.fotoUsuario}" alt="">
                                <h4 th:text="${participante.nickname}"></h4>
                            </header>
                            <div class="chat-box">
                                <div th:each="m : ${mensajesPrivados}" class="contenedor-mensaje mb-2">
                                    <div th:if="${m.usuario.id != user.id}"
                                        class="mensaje d-flex justify-content-start align-items-end">
                                        <img th:src="${m.usuario.fotoUsuario}" style="width: 40px;" class="avatar"
                                            alt="m.usuario.nickname" />
                                        <div class="contenido-mensaje grey ms-2 p-2">
                                            <div th:text="${m.usuario.nickname}" class="nickname"></div>
                                            <div th:text="${m.mensaje}" class="mensaje my-1"></div>
                                            <div th:text="${#temporals.format(m.fechayHoraEnvio, 'dd/MM/YY HH:mm') + 'h'}"
                                                class="fecha text-end"></div>
                                        </div>
                                    </div>
                                    <div th:unless="${m.usuario.id != user.id}"
                                        class="mensaje d-flex flex-row-reverse justify-content-start align-items-end">
                                        <img th:src="${user.fotoUsuario}" style="width: 40px;" class="avatar"
                                            alt="m.usuario.nickname" />
                                        <div class="contenido-mensaje green me-2 p-2">
                                            <div class="nickname">Yo</div>
                                            <div th:text="${m.mensaje}" class="mensaje my-1"></div>
                                            <div th:text="${#temporals.format(m.fechayHoraEnvio, 'dd/MM/YY HH:mm') + 'h'}"
                                                class="fecha text-end"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{'/mensajesPrivados/guardar/' + ${participante.id}}"
                                th:object="${messagePriv}" method="post" class="typing-area">

                                <input type="text" th:field="*{mensaje}" class="input-field"
                                    placeholder="Escribe un mensaje aquí ..." autocomplete="off">

                                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>

                            </form>
                        </section>
                    </div>
                    <div style="width: 90%">
                        <div class="d-flex justify-content-end mt-4">
                            <input type="button" class="btn" id="btn-part" name="imprimir" value="Imprimir"
                                onclick="window.print();">
                        </div>
                    </div>
                </div>



            </div>
        </div>


</body>

</html>