<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

  <link rel="stylesheet" th:href="@{/css/estilos.css}">
  <link rel="stylesheet" th:href="@{/css/grupos.css}">
  <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/grupos.js"></script>

  <title>Chat - Estepper</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <div class="d-flex">
    <!-- MENÚ -->
    <div id="sidebar-container">

      <div class="logo">
        <img width="75" th:src="@{/img/logo.png}" />
        <h4>Estepper</h4>
      </div>

      <ul>
        <li>
          <a th:href="@{/}">
            <i class="fa-solid fa-house"></i>
            <span class="nombre-enlaces">Inicio</span>
          </a>
        </li>

        <li>
          <a th:href="@{/cuaderno}">
            <i class="fa-solid fa-pen"></i>
            <span class="nombre-enlaces">Cuaderno</span>
          </a>
        </li>

        <li>
          <a th:href="@{/actividades}">
            <i class="fa-solid fa-person-hiking"></i>
            <span class="nombre-enlaces">Actividades</span>
          </a>
        </li>

        <li>
          <a th:href="@{/alimentacion}">
            <i class="fa-solid fa-carrot"></i>
            <span class="nombre-enlaces">Alimentación</span>
          </a>
        </li>

        <li>
          <a th:href="@{'/materiales/' + ${user.id}}">
            <i class="fa-solid fa-folder-open"></i>
            <span class="nombre-enlaces">Materiales</span>
          </a>
        </li>

        <li>
          <a th:href="@{'/progreso/' + ${user.id}}">
            <i class="fa-solid fa-chart-line"></i>
            <span class="nombre-enlaces">Progreso</span>
          </a>
        </li>
        <li>
          <a th:href="@{/chat}">
            <i class="fa-solid fa-people-group"></i>
            <span class="nombre-enlaces">Mi grupo</span>
          </a>
        </li>

      </ul>

    </div>

    <!-- MENÚ MÓVIL -->
    <div class="menu-movil">

      <a th:href="@{/}">
        <i class="fa-solid fa-house"></i>
      </a>

      <a th:href="@{/cuaderno}">
        <i class="fa-solid fa-pen"></i>
      </a>
      <a th:href="@{/actividades}">
        <i class="fa-solid fa-person-hiking"></i>
      </a>

      <a th:href="@{/alimentacion}">
        <i class="fa-solid fa-carrot"></i>
      </a>

      <a th:href="@{'/materiales/' + ${user.id}}">
        <i class="fa-solid fa-folder-open"></i>
      </a>

      <a th:href="@{'/progreso/' + ${user.id}}">
        <i class="fa-solid fa-chart-line"></i>
      </a>

      <a th:href="@{/chat}">
        <i class="fa-solid fa-people-group"></i>
      </a>

    </div>

    <div id="contenido">
      <div class="header-movil">
        <img class="menu-icon" style="cursor:pointer" width="35" th:src="${user.fotoUsuario}" alt="imagenPerfil"
          id="avatar-header" onclick="desplegable()" />
        <img width="35" th:src="@{img/logo.png}" />
        <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
      </div>

      <div class="desplegable-perfil">
        <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
        <form th:action="@{/logout}" method="post">
          <button class="dropdown-item" type="submit">Cerrar sesión</a>
        </form>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

          <div class="der-header">
            <!-- Desplegable notificaciones -->
            <ul class="navbar-nav ml-auto" id="cont-notif">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-no-caret" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="list-notif">
                      <h6>Notificaciones</h6>
                      <div class="dropdown-divider"></div>
                      <div style="overflow: auto; max-height: 250px;">
                          <div th:each="notif : ${notificaciones}">
                              <a style="font-size: 0.85rem;" th:href="${notif.enlace}"
                                  th:text="${notif.mensaje}"></a>
                              <div class="dropdown-divider"></div>
                          </div>
                      </div>
    
                  </div>
                </li>
            </ul>

            <!-- Desplegable perfil y cerrar sesión -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img width="40" th:src="${user.fotoUsuario}" alt="imagenPerfil"
                            id="avatar-header" />
                        <span sec:authentication="principal.nombre"></span>
                    </a>

                    <div class="dropdown-menu" id="menu-desplegable" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                        <a class="dropdown-item" th:href="@{'/chatPartAdmin/' + ${administrador.id}}">Escribir al administrador</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">Cerrar sesión</a>
                        </form>
                    </div>
                </li>

            </ul>
        </div>
        </div>
      </nav>

      <div style="margin-left: 10%; margin-top: 2%; padding-top: 75px;">
        <div
          style="display: grid;justify-content: center;background-color:rgb(122, 184, 212);margin-right: 10%;margin-bottom: 2%;">
          <h4 style="margin-top: 4%; color:azure" th:text=" 'GRUPO: ' + ${user.grupo.nombre}"></h4>
        </div>





        <div class="container" style="margin-bottom: 5%;">
          <div class="row">
            <div class="miGrupo">
              <div class="zonasMiGrupoIzq">

                <div class="botones-chatEscogido">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn-chatEsc w-100 p-1 mb-3" id="chatGrupal">Chat grupal</button>
                    </div>
                    <div class="col-6">
                      <button class="btn-chatEsc w-100 p-1 mb-3" id="chatCoordinador">Chat coordinador</button>
                    </div>
                  </div>


                </div>
                <div class="bordes-chat">

                  <div class="chatGrupal">
                    <section class="chat-area">
                      <header>
                        <img th:src="${user.grupo.fotoGrupo}" alt="Foto de grupo">
                        <h4 th:text="${user.grupo.nombre}"></h4>
                        <div class="details">
                        </div>
                      </header>
                      <div class="chat-box">
                        <div th:each="m : ${mensajes}" class="contenedor-mensaje mb-2">
                          <div th:if="${m.usuario.id != user.id}"
                            class="mensaje d-flex justify-content-start align-items-end">
                            <img th:src="${m.usuario.fotoUsuario}" class="avatar" style="width: 40px;"
                              alt="m.usuario.nickname" />
                            <div class="contenido-mensaje grey ms-2 p-2">
                              <div th:text="${m.usuario.nickname}" class="nickname"></div>
                              <div th:text="${m.mensaje}" class="mensaje my-1"></div>
                              <div th:text="${#temporals.format(m.fechayHoraEnvio, 'dd/MM/YY HH:mm') + 'h'}"
                                class="fecha text-end"></div>
                            </div>
                          </div>
                          <div th:unless="${m.usuario.id != user.id}"
                            class="mensaje d-flex flex-row-reverse justify-content-start align-items-end">
                            <img th:src="${user.fotoUsuario}" class="avatar" style="width: 40px;"
                              alt="m.usuario.nickname" />
                            <div class="contenido-mensaje green me-2 p-2">
                              <div class="nickname">Yo</div>
                              <div th:text="${m.mensaje}" class="mensaje my-1"></div>
                              <div th:text="${#temporals.format(m.fechayHoraEnvio, 'dd/MM/YY HH:mm') + 'h'}"
                                class="fecha text-end"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form id="formulario-mensaje" th:action="@{'/mensajes/guardar/' + ${user.grupo.id}}"
                        th:object="${message}" method="post" class="typing-area">

                        <input type="text" th:field="*{mensaje}" class="input-field"
                          placeholder="Escribe un mensaje aquí ..." autocomplete="off">

                        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>

                      </form>
                    </section>
                  </div>

                  <div class="chatCoordinador">
                    <div class="bordes-chat">
                      <section class="chat-area">
                        <header>
                          <img src="img/p1.png" alt="Foto de grupo">
                          <h4>Tu coordinador</h4>

                        </header>
                        <div class="chat-box">
                          <div th:each="m : ${mensajesPrivados}" class="contenedor-mensaje mb-2">
                            <div th:if="${m.usuario.id != user.id}"
                              class="mensaje d-flex justify-content-start align-items-end">
                              <img th:src="${m.usuario.fotoUsuario}" class="avatar" style="width: 40px;"
                                alt="m.usuario.nickname" />
                              <div class="contenido-mensaje grey ms-2 p-2">
                                <div th:text="${m.usuario.nickname}" class="nickname"></div>
                                <div th:text="${m.mensaje}" class="mensaje my-1"></div>
                                <div th:text="${#temporals.format(m.fechayHoraEnvio, 'dd/MM/YY HH:mm') + 'h'}"
                                  class="fecha text-end"></div>
                              </div>
                            </div>
                            <div th:unless="${m.usuario.id != user.id}"
                              class="mensaje d-flex flex-row-reverse justify-content-start align-items-end">
                              <img th:src="${user.fotoUsuario}" class="avatar" style="width: 40px;"
                                alt="m.usuario.nickname" />
                              <div class="contenido-mensaje green me-2 p-2">
                                <div class="nickname">Yo</div>
                                <div th:text="${m.mensaje}" class="mensaje my-1"></div>
                                <div th:text="${#temporals.format(m.fechayHoraEnvio, 'dd/MM/YY HH:mm') + 'h'}"
                                  class="fecha text-end"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <form th:action="@{'/mensajesPrivados/guardar/' + ${user.id}}" th:object="${messagePriv}"
                          method="post" class="typing-area">

                          <input type="text" th:field="*{mensaje}" class="input-field"
                            placeholder="Escribe un mensaje aquí ..." autocomplete="off">

                          <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>

                        </form>
                      </section>
                    </div>
                  </div>

                </div>
              </div>


              <div class="zonasMiGrupo">

                <div class="miGrupoParticipantes">
                  <div class="header-miGrupo">
                    <h4 th:text=" 'Participantes del grupo: ' + ${user.grupo.numParticipantes}"></h4>
                  </div>

                  <div class="layout-participantes">

                    <div class="listaDeParticipantes mb-2">
                      <div class="row">
                        <div class="col-2" th:each="lis:${listadoParticipantesGrupo}">
                          <img th:if="${lis.id == user.id}" th:src="@{${lis.fotoUsuario}}" class="avatar" alt="Yo"
                            title="Yo" />
                          <img th:unless="${lis.id == user.id}" th:src="@{${lis.fotoUsuario}}"
                            alt="Imagen de perfil de ${lis.nickname}" th:title="${lis.nickname}" class="avatar" />
                          <div class="perdida-peso-individual" style="text-align: center;display: none; "
                            th:text="@{${-lis.perdidaDePeso}}"></div>
                          <div class="asistencia-individual" style="text-align: center;display: none; "
                            th:text="@{${lis.asistencia}}"></div>
                          <div class="perdida-cmcintura-individual" style="text-align: center; display: none;"
                            th:text="@{${-lis.perdidacmcintura}}"></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="zonasMiGrupoProgreso">

                  <div class="header-miGrupo">
                    <h4>Progreso grupal</h4>
                  </div>

                  <div class="layout-participantes2">
                    <i class="fa-solid fa-weight-scale" style="color: rgb(221, 175, 100);font-size: 50px;"></i>
                    <p>Pérdida de peso media del grupo: <span id="perdida-peso-media"></span></p>
                  </div>


                  <div class="layout-participantes2">
                    <i class="fa-solid fa-calendar-days" style="color: rgb(115, 77, 165);font-size: 50px;"></i>
                    <p>Asistencia media del grupo: <span id="asistencia-media"></span></p>
                  </div>

                  <div class="layout-participantes2">
                    <i class="fa-solid fa-child-reaching" style="color: rgb(77, 165, 77);font-size: 50px;"></i>
                    <p>Pérdida de cm de cintura media del grupo: <span id="perdida-cmcintura-media"></span></p>
                  </div>

                </div>

              </div>
            </div>


          </div>
        </div>



      </div>
    </div>

  </div>
  </div>

</body>

</html>