<!DOCTYPE html>

<html lang="es"
 xmlns:th="https://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <title>Formulario de Clasificación</title>

</head>


<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img src="../static/img/logo.png" width="75" th:src="@{/img/logo.png}"/>
                <h4>Estepper</h4>
            </div>

            
          <ul>
            <li>
                <a th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                    <span class="nombre-enlaces">Inicio</span>
                </a>
            </li>
    
            <li>
                <a th:href="@{/actividades}">
                    <i class="fa-solid fa-person-hiking"></i>
                    <span class="nombre-enlaces">Actividades</span>
                </a>
            </li>     
        </ul>

        </div>

        <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div th:if="${clasificacion == null}">
                <h2>Necesita rellenar los formularios de Exploración y de Findrisc para acceder a este formulario.</h2>
            </div>
            <div th:unless="${clasificacion == null}" class="bg-white border border-1 p-5 rounded-4 ">

                <form class="form-perfil" method="post" th:action="@{'/process_clasificacion/' + ${participante.id}}" th:object="${clasificacion}">
        
                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">¿El usuario tiene analítica y es inferior a 3 meses? </label>
                        <select id="analiticahecha" th:field="*{analiticahecha}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Glucemia basal(mg/dl): </label>
                        
                        <input id="glucemia" type="number" th:field="*{glucemia}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Colesterol Total(mg/dl): </label>
                        
                        <input id="colesterol" type="number" th:field="*{colesterol}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">LDL colesterol(mg/dl): </label>
                        
                        <input id="ldl" type="number" th:field="*{ldl}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">S.O.G(mg/dl): </label>
                        
                        <input id="sog" type="number" th:field="*{sog}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">HDL colesterol(mg/dl): </label>
                        
                        <input id="hdl" type="number" th:field="*{hdl}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Trigliceridos(mg/dl): </label>
                        
                        <input id="trigliceridos" type="number" th:field="*{trigliceridos}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">HbA1c(%): </label>
                        
                        <input id="hb" type="number" step="0.1" th:field="*{hbA1c}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">¿Se pide analítica? </label>
                        <select id="pediranalitica" th:field="*{pediranalitica}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">CLASIFICACIÓN DEL USUARIO</label>
                        <select style="border-color: blue;" id="clasificacion" th:field="*{clasificacionusuario}" class="form-control">
                            <option value=1>Diabetes no conocida</option>
                            <option value=2>Prediabetes</option>
                            <option value=3>T.F. > 14, normoglucemia e I.M.C >= 27</option>
                            <option value=4>Obesidad I.M.C.>30</option>
                            <option value=5>I.M.C.>27 y cintura riesgo</option>´
                            <option value=6>Otros</option>
                        </select>
                    </div>
                    <script>
                        function calcularclasificacion() {
                            var glucemia = parseInt(document.getElementById('glucemia').value);
                            if(glucemia < 100) {
                                var resultado = 3; //normoglucemia
                                document.getElementById('clasificacion').value = resultado;
                            }
                        }
                      
                        document.getElementById('glucemia').addEventListener('input', calcularclasificacion);
                      
                    </script>

                    <label class="col-4 col-form-label">PROPUESTAS DE INTERVENCIÓN</label>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Si diabético no conocido. ¿Acepta derivación a Montesa? </label>
                        <select id="montesa" th:field="*{montesa}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Motivo: </label>
                        
                        <input id="motivomontesa" type="text" th:field="*{motivomontesa}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Si clasificación = 2,3,4 o 5 ¿Acepta inclusión en taller? </label>
                        <select id="taller" th:field="*{taller}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">Motivo: </label>
                        
                        <input id="motivotaller" type="text" th:field="*{motivotaller}" class="form-control" />
                    </div>

                    <div class="input-group mt-2">
                        <label class="col-4 col-form-label">¿Acepta realizar actividad física en centro deportivo municipal? </label>
                        <select id="actividadfisica" th:field="*{actividadfisica}" class="form-control">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <button class="btn btn-info text-white mt-4 w-100" type="submit" onclick=myFunction()>Guardar</button>
                    <script language="JavaScript">
                        function myFunction() {
                            if(confirm("Desea guardar los datos?")){
                            alert("Datos guardados exitosamente");
                            }else{
                            alert("Usted cancelo la acción para guardar");
                            }
                        }
                    </script>
                    
                </form>                      
            </div> 
            
            <div style="float: right;">
                <input type="button" class="btn" id="btn-part" name="imprimir" value="Imprimir" onclick="window.print();"> 
            </div>

        </div>
    </div>

</body>

</html>
