<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <title>Editar Perfil - Estepper</title>

</head>


<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                        <i class="fa-solid fa-pen"></i>
                        <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/progreso}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="nombre-enlaces">Mi grupo</span>
                    </a>
                </li>

            </ul>

        </div>

          <!-- MENÚ MÓVIL -->
          <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>

            <a th:href="@{/cuaderno}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>

            <a th:href="@{/alimentacion}">
                <i class="fa-solid fa-carrot"></i>
            </a>

            <a th:href="@{'/materiales/' + ${user.id}}">
                <i class="fa-solid fa-folder-open"></i>
            </a>

            <a th:href="@{/progreso}">
                <i class="fa-solid fa-chart-line"></i>
            </a>

            <a th:href="@{/chat}">
                <i class="fa-solid fa-comments"></i>
            </a>

        </div>

        <div id="contenido">

            <div class="header-movil">
                <img class="menu-icon" width="35" th:src="${user.fotoParticipante}" alt="imagenPerfil"
                    id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img  width="40" th:src="${user.fotoParticipante}" alt="imagenPerfil" id="avatar-header"/>
                                <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>


            <div class="container" style="padding-top: 50px;">
                <div style="margin: 5%;" class="bg-white border border-1 p-5 rounded-4">
                  <div>
                    <h3 style="text-align: center; margin-bottom: 2%;">Editar perfil</h3>
                  </div>
                  <div class="row">
                    <!--IMAGEN -->
                    <div class="col-md-3 mb-3">
                      <img id="foto-perfil" th:src="${participante.fotoParticipante}" class="w-50" alt="">
                    </div>
              
                    <!--FORMULARIO -->
                    <div class="col-md-8">
                      <form class="form-perfil" method="post" th:action="@{'/process_perfil/' + ${participante.id}}" th:object="${participante}">
                        <div class="mb-3">
                          <label class="form-label">Alias</label>
                          <input type="text" th:field="*{nickname}" class="form-control" required>
                        </div>
              
                        <div class="mb-3">
                          <label class="form-label">Correo</label>
                          <input type="email" th:field="*{email}" class="form-control" required>
                        </div>
              
                        <div class="mb-3">
                          <label class="form-label">Contraseña</label>
                          <input type="password" class="form-control" placeholder="**********" th:field="*{contrasenia}">
                        </div>
              
                        <div class="mb-3">
                          <label class="form-label">Sexo</label>
                          <select th:field="*{sexo}" class="form-select" required>
                            <option value="MASCULINO" th:text="MASCULINO"></option>
                            <option value="FEMENINO" th:text="FEMENINO"></option>
                          </select>
                        </div>
                        <div th:unless="${participante.estadoCuenta == 'BAJA'}" class="mb-3">
                          <label class="form-label">Estado</label>
                          <select th:field="*{estadoCuenta}" class="form-select" required>
                            <option value="ALTA" th:text="ALTA"></option>
                            <option value="BAJA" th:text="BAJA"></option>
                          </select>
                        </div>
              
                        <div class="mb-3">
                          <label class="form-label">Edad</label>
                          <input type="number" th:field="*{edad}" class="form-control" required>
                        </div>
              
                        <div class="mb-3">
                          <label class="form-label">Avatar</label>
                          <select id="avatar" class="form-select" th:field="*{fotoParticipante}">
                            <option value="/img/p1.png">Sin avatar</option>
                            <option value="/img/avatar1.png">Avatar 1</option>
                            <option value="/img/avatar2.png">Avatar 2</option>
                            <option value="/img/avatar3.png">Avatar 3</option>
                            <option value="/img/avatar4.png">Avatar 4</option>
                            <option value="/img/avatar5.png">Avatar 5</option>
                            <option value="/img/avatar6.png">Avatar 6</option>
                            <option value="/img/avatar7.png">Avatar 7</option>
              
                                    <option value="/img/avatar8.png">Avatar 8</option>
                                    <option value="/img/avatar9.png">Avatar 9</option>
                                    <option value="/img/avatar10.png">Avatar 10</option>
                                </select>
                            </div>

                            <!-- LISTADO DE AVATARES -->
                            <div class="avatares">
                                <img src="/img/avatar1.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar2.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar3.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar4.png" class="avatar"width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar5.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar6.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar7.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar8.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar9.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                                <img src="/img/avatar10.png" class="avatar" width="10%" heigh="20%" alt="" onclick="cambiarAvatar('/img/avatar1.png')">
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <a th:href="@{'/eliminarcuenta/' + ${user.id}}" class="btn mt-4" id="btn-cancel" style="margin-right: 15px; background-color: rgb(237, 125, 125); color: white">Eliminar Cuenta</a>
                                <a th:href="@{'/mostrarperfil/' + ${user.id}}" class="btn mt-4" id="btn-cancel" style="margin-right: 15px;">Cancelar</a>
                               <button class="btn mt-4" id="btn-edit" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>

                </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>