<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    
  <link rel="stylesheet" th:href="@{/css/sesiones.css}">
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>

    <!--PARA GRÁFICOS-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto">

    <title>Expediente - Estepper</title>

    <style>
        /* Estilo para el encabezado de participante */
        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        /* Estilo para los contenedores de información */
        div {
            margin-bottom: 0.5rem;
        }

        /* Estilo para las imágenes de perfil */
        .imagenPerfil img {
            border-radius: 50%;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
        }


        /* Estilo para el texto de información */
        h5 {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 0;
        }
    </style>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                
            </ul>

        </div>

        <div class="w-100" style="background-color:#afc0cb">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        

                    </ul>
                </div>
            </nav>
            <div style="margin-left: 10%; margin-top: 5%;">
                <div
                    style="display: grid; align-items: center; justify-content: center;background-color: whitesmoke;border-radius: 5%;margin-right: 10%;">
                    <h3 style="margin-top: 8%;" th:text="${participante.nickname} + ': ' + ${participante.codigo}">
                        Nombre</h3>
                    <div class="imagenPerfil">
                        <img width="100" th:src="${participante.fotoParticipante}" alt="imagenPerfil" />
                    </div>
                </div>
                <div style="background-color: whitesmoke; border-radius: 5%; margin-right: 10%;">
                    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 5%; margin-bottom: 5%;">
                        <div th:unless="${participante.sexo == null}"
                            style="display: flex; align-items: center; margin-left:10px; margin-top: 5%; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); padding: 10px;">
                            <h5><i title="Género" class="fa-solid fa-venus-mars" style="margin-right: 10px;"></i></h5>
                            <h5 th:text="${participante.sexo}" style="margin-left: 10px;"></h5>
                        </div>
                        <div th:unless="${participante.edad == null}"
                            style="display: flex; align-items: center; margin-top: 5%; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); padding: 10px;">
                            <h5><i title="Edad" class="fa-solid fa-calendar-day" style="margin-right: 10px;"></i></h5>
                            <h5 th:text="${participante.edad}" style="margin-left: 10px;"></h5>
                        </div>
                        <div th:unless="${participante.asistencia == null}"
                            style="display: flex; align-items: center; margin-top: 5%; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); padding: 10px;">
                            <h5><i title="Asistencia" class="fa-solid fa-list-check" style="margin-right: 10px;"></i>
                            </h5>
                            <h5 th:text="'Asistencia: ' + ${participante.asistencia}" style="margin-left: 10px;"></h5>
                        </div>
                        <div th:unless="${participante.perdidaDePeso == null}"
                            style="display: flex; align-items: center; margin-top: 5%; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); padding: 10px;">
                            <h5><i title="Pérdida de peso" class="fa-solid fa-weight-scale"
                                    style="margin-right: 10px;"></i></h5>
                            <h5 th:text="${participante.perdidaDePeso}+ ' ' + 'kg perdidos'" style="margin-left: 10px;">
                            </h5>
                        </div>
                        <div th:unless="${participante.sesionesCompletas == null}"
                            style="display: flex; align-items: center; margin-top: 5%; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); padding: 10px;">
                            <h5><i title="Sesiones completas" class="fa-solid fa-gears" style="margin-right: 10px;"></i>
                            </h5>
                            <h5 th:text="${participante.sesionesCompletas}+ ' ' + 'sesiones completas'"
                                style="margin-left: 10px;"></h5>
                        </div>
                    </div>

                    <div th:unless="${participante.estadoCuenta == 'BAJA'}" style="display: flex; justify-content: center; margin-bottom: 3%;">
                        <a class="btn-sesion" id="guardar" title="Fichas"
                        onclick="abrirIframe('mi-modal')" href="#"> Fichas </a>
                    </div>
                    <!--Modal-->
        <div class="modal fade" id="mi-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Fichas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 3%;">
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${1} + '/' + ${participante.id}}">Sesión 1</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${2} + '/' + ${participante.id}}">Sesión 2</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${3} + '/' + ${participante.id}}">Sesión 3</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${4} + '/' + ${participante.id}}">Sesión 4</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${5} + '/' + ${participante.id}}">Sesión 5</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${6} + '/' + ${participante.id}}">Sesión 6</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${7} + '/' + ${participante.id}}">Sesión 7</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${8} + '/' + ${participante.id}}">Sesión 8</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${9} + '/' + ${participante.id}}">Sesión 9</a>
                          <a style="margin: 2%;" class="btn" id="btn-part" th:href="@{'/sesion/' + ${10} + '/' + ${participante.id}}">Sesión 10</a>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <script>
            function abrirIframe(modalId) {
              const modal = new bootstrap.Modal(document.getElementById(modalId));
              modal.show();
            }
          </script>
          <!--FIN MODAL-->

                    <div style="display: flex; justify-content: center;">
                        <div style="margin-right: 5%;" th:unless="${participante.idGrupo == 0}"><a class="btn"
                                id="btn-part" title="Materiales"
                                th:href="@{'/materialesGrupo/' + ${participante.idGrupo}}"> Materiales grupales </a>
                        </div>
                        <div><a class="btn" id="btn-part" title="Fase de valoracion"
                                th:href="@{'/valoracion/' + ${participante.id}}"> Fase de valoración </a></div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</body>

</html>