<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/grupos.css}">

    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <!-- para jquery-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--ALERTA ELIMINAR-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script src="/js/grupos.js"></script>


    <title>Grupos - Estepper</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

            </ul>

        </div>

        <!-- MENÚ MÓVIL -->
        <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>
            <a th:href="@{/listaGrupos}">
                <i class="fa-solid fa-users"></i>
            </a>
            <a th:href="@{/listado}">
                <i class="fa-solid fa-address-card"></i>
            </a>

        </div>

        <div id="contenido">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="@{/img/p1.png}" alt="imagenPerfil"
                    id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <a th:href="@{'/chatCordAdmin/' + ${administrador.id}}">Ayuda</a>
                <div class="dropdown-divider"></div>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="40" th:src="@{img/p1.png}" alt="imagenPerfil" id="avatar-header" />
                                <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <a class="dropdown-item" th:href="@{'/chatCordAdmin/' + ${administrador.id}}">Ayuda</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div style="padding-top: 75px;">
                <div class="p-4 mt-5" id="grupos">
                    <div style="display: flex; justify-content: center; justify-items: center;">
                        <h4>Listado de grupos</h4>
                    </div>


                    <!--Lo estaba probando para lo de mostrar la alerta, no borrarlo aún-->
                    <div th:if="${errorcito}" class="alert alert-danger">
                        <p th:text="${errorcito}"></p>
                    </div>


                    <!-- Buscador de participantes en grupos -->
                    <div class="d-flex justify-content-center mt-3">
                        <form class="w-75" id="buscadorPart">
                            <div style="margin-bottom: 5%; display: flex; justify-content: center; align-items: center;"
                                class="input-group">

                                <input style="height: 5%;" id="filtrarGrupos" class="form-control light-table-filter"
                                    data-table="tablePart" type="text" placeholder="Buscar...">


                                <div class="d-flex justify-content-center align-items-center" style=" margin-left: 2%;">
                                    <div class="me-4" for="estadoGrupo">Estado:</div>
                                    <div>
                                        <select class="form-control" name="estadoGrupo" id="estadoGrupo">
                                            <option value="TODOS">Todos</option>
                                            <option value="ACTIVO">Activos</option>
                                            <option value="TERMINADO">Terminados</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <!-- Tabla de grupos -->
                    <div class="table-responsive">
                        <table class=" table tablePart" id="tablePartGrupos">

                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Número de participantes</th>
                                    <th scope="col">Fecha de creación</th>
                                    <th scope="col">Fecha de finalización</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody class="buscarGrupos">
                                <tr th:each="lis:${listaGrupos}">
                                    <td> <img width="55" th:src="${lis.fotoGrupo}" /></td>
                                    <td th:text="${lis.nombre}"></td>
                                    <td th:text="${lis.codigo}"></td>
                                    <td th:text="${lis.numParticipantes}"></td>
                                    <td th:text="${lis.fechaInicioGrupo}"></td>
                                    <td th:text="${mensajito}" th:if="${lis.fechaFinGrupo == null}"></td>
                                    <td th:text="${lis.fechaFinGrupo}" th:unless="${lis.fechaFinGrupo == null}"></td>
                                    <td th:text="${lis.estadoGrupo}"></td>
                                    <td>

                                        <!--LOS BOTONES CON ICONOS-->
                                        <a class="fa-solid fa-eye fa-2x" id="btn-icono" data-bs-toggle="tooltip"
                                            title="Ver grupo" th:href="@{'/unGrupo/' + ${lis.id}}"></a>
                                        <a class="fa-solid fa-pen-to-square fa-2x" id="btn-icono"
                                            data-bs-toggle="tooltip" title="Editar grupo"
                                            th:href="@{'/grupos/editar/' + ${lis.id}} "></a>

                                        <a style="cursor: pointer;" class="eliminarGrupo" id="btn-icono"
                                            data-bs-toggle="tooltip" th:data-id="${lis.id}" title="Eliminar grupo"><i
                                                class="fa-solid fa-trash-can fa-2x"></i></a>


                                        <a class="fa-solid fa-folder-open fa-2x" id="btn-icono" data-bs-toggle="tooltip"
                                            title="Materiales" th:href="@{'/materialesGrupo/' + ${lis.id}}"></a>

                                    </td>

                                </tr>
                            </tbody>
                        </table>


                    </div>

                    <div class="row">
                        <div class="col-4 text-start">
                            <div>
                                <a class="btn" id="btn-part" title="Crear" href="#"
                                    onclick="abrirIframe('modalNuevoGrupo')">
                                    Crear un grupo nuevo</a>
                            </div>
                        </div>

                        <div class="modal fade" id="modalNuevoGrupo" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Crear un nuevo grupo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/grupos/guardar}" th:object="${grupo}" method="post"
                                            enctype="multipart/form-data">
                                            <div class="m-3">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Nombre del nuevo
                                                        grupo:</label>
                                                    <div class="col-sm-8 mb-2">
                                                        <input type="text" th:field="*{nombre}" class="form-control"
                                                            required />
                                                    </div>

                                                    <div th:if="${error}" class="alert alert-danger">
                                                        <p th:text="${error}"></p>
                                                    </div>


                                                    <label class="col-form-label col-sm-4">Participantes del nuevo
                                                        grupo:</label>
                                                    <div class="col-sm-8 mb-2">
                                                        <select th:field="*{participantes}" class="form-control"
                                                            multiple>
                                                            <option th:each="participante : ${participantesExistentes}"
                                                                th:value="${participante.id}"
                                                                th:text="${participante.nickname}"
                                                                th:if="${participante.grupo == null}">
                                                            </option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="text-center p">
                                                    <button type="submit" class="btn" id="btn-part">Añadir</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="alertaModal2" tabindex="-1" aria-labelledby="alertaModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="alertaModalLabel"><i
                                                class="fa-solid fa-triangle-exclamation" style="color: goldenrod;"></i>
                                            No
                                            se ha
                                            podido completar la acción </h5>

                                    </div>
                                    <div class="modal-body">
                                        <p>El participante ya pertenece a un grupo.</p>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            style="float:right">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-4 text-center">
                            <div>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:each="page: ${paginas}">
                                            <a class="page-link" th:href="@{|/listaGrupos?page=${page}}"
                                                th:text="${page}"></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div><input type="button" class="btn" id="btn-part" name="imprimir" value="Imprimir"
                                    onclick="window.print();"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>