<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>

    <!--PARA GRÁFICOS-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto">

    <title>Perfil</title>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                      <i class="fa-solid fa-pen"></i>
                      <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/progreso}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-comments"></i>
                        <span class="nombre-enlaces">Foro</span>
                    </a>
                </li>

            </ul>

        </div>

        <div class="w-100" style="background-color:#afc0cb">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
            <!--<div style="text-align: center;">

                <div style="margin: 20px; color: #13405d;">
                    <h3 th:text="${user.nickname}">Nombre</h3>
                </div>

                <div style="display: flex; text-align: left;">
                    <img  width="100" th:src="${user.fotoParticipante}" />
                    <ul style="list-style: none;margin-right: 200px;margin-left: 150px;">
                        <li><i class="icono fas fa-key"></i><span th:text="' Código: ' + ${user.codigo}" /></li>
                        <li><i class="icono fas fa-envelope"></i><span th:text="' Email: ' + ${user.email}" /></li>
                        <li><i class="icono fas fa-thumbtack"></i><span
                                th:text="' Estado de la cuenta: ' + ${user.estadoCuenta}" />
                        </li>
                        <li><i class="icono fas fa-anchor"></i><span th:text="' Sexo: ' + ${participante.sexo}" /></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><i class="icono fas fa-bug"></i><span th:text="' Edad: ' + ${participante.edad}" /></li>
                        <li><i class="icono fas fa-list-alt"></i><span
                                th:text="' Asistencia: ' + ${participante.asistencia}" />
                        </li>
                        <li><i class="icono fas fa-weight"></i><span
                                th:text="' Pérdida de peso: ' + ${participante.perdidaDePeso}" /></li>
                        <li><i class="icono fas fa-people-carry"></i><span                
                                th:text="' Grupo: ' + ${grupo}" />
                    </ul>
                </div>

                <a class="btn" id="btn-part"th:href="@{'/perfil/' + ${user.id}}" >Editar perfil</a>
            </div>-->


            <div class="cuerpoPerfil">


                <div class="cardi2">

                    <div class="imagenPerfil">
                        <img  width="100" th:src="${user.fotoParticipante}" alt="imagenPerfil"/>
                    </div>
         
                    <div class="contenidoPerfil mt-4" >
                    
                        <h3 th:text="${user.nickname}">Nombre</h3>


                        <!--<div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-primary" id="botonContacto">Contacto</button>
                            <button type="button" class="btn btn-outline-primary" id="botonDetalles">Detalles</button>
                            <button type="button" class="btn btn-outline-primary" id="botonActividad"> Actividad</button>
                        </div>-->
    
                        <div class="centroPerfil">
    
                        
                            <div class="box" id="contacto">
    
                               <!-- <p><i class="icono fas fa-key"></i><span th:text="' Código: ' + ${user.codigo}" /></p>-->
                               <!-- <p><i class="icono fas fa-envelope"></i><span th:text="' Email: ' + ${user.email}" /></p>
                                <p><i class="icono fas fa-thumbtack"></i><span th:text="' Estado de la cuenta: ' + ${user.estadoCuenta}" /></p>-->
                            
                                <!--<div class="box1">
                                    <h4><i class="icono fas fa-key"></i>Código</h4>
                                    <h4 th:text="${user.codigo}"></h4>
                                </div>
                                <div class="box1">
                                    <h4><i class="icono fas fa-envelope"></i>Email </h4>
                                    <h4 th:text="${user.email}"></h4>
                                </div>
                                <div class="box1">
                                    <h4><i class="icono fas fa-key"></i>Estado </h4>
                                    <h4 th:text="${user.estadoCuenta}"></h4>
                                </div>-->

                                <div class="row" style="justify-content: center;">

                                    <div class="col-sm-2">
                                      <div class="card" data-bs-toggle="tooltip" title="Código participante">
                                        <div class="card-body">
                                            <h5><i class="fa-solid fa-barcode"></i><!--Código--></h5>
                                            <h5 th:text="${user.codigo}"></h5>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="card"  data-bs-toggle="tooltip" title="Email del participante">
                                        <div class="card-body">
                                            <h5><i class="icono fas fa-envelope"></i><!--Email--> </h5>
                                            <h5 th:text="${user.email}"></h5>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="card" data-bs-toggle="tooltip" title="Estado de la cuenta">
                                          <div class="card-body" >
                                            <h5><i class="fa-solid fa-gears"></i></i><!--Estado--> </h5>
                                            <h5 th:text="${user.estadoCuenta}"></h5>
                                          </div>
                                        </div>
                                      </div>

                                    <div class="col-sm-2">
                                        <div class="card"  data-bs-toggle="tooltip" title="Sexo">
                                          <div class="card-body" >
                                              <h5><i class="fa-solid fa-venus-mars"></i><!--Sexo--> </h5>
                                              <h5 th:text="${sexo}"></h5>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3" style="justify-content: center;">
                                    <div class="col-sm-3">
                                        <div class="card"  data-bs-toggle="tooltip" title="Edad">
                                          <div class="card-body" >
                                              <h5><i class="fa-solid fa-calendar-day"></i><!--Edad--> </h5>
                                              <h5 th:text="'Edad:'+ ' ' + ${edad}"></h5>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="card"  data-bs-toggle="tooltip" title="Asistencia">
                                          <div class="card-body" >
                                              <h5><i class="fa-solid fa-list-check"></i><!--Asistencia --></h5>
                                              <h5 th:text="${participante.asistencia} + ' ' + '% sesiones'"></h5>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card"  data-bs-toggle="tooltip" title="Pérdida de peso">
                                          <div class="card-body" >
                                              <h5><i class="fa-solid fa-weight-scale"></i><!--Pérdida de peso--> </h5>
                                              <h5 th:text="${-participante.perdidaDePeso}+ ' ' + 'kg perdidos'"></h5>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card"  data-bs-toggle="tooltip" title="Pérdida de cm cintura">
                                          <div class="card-body" >
                                              <h5><i class="fa-sharp fa-solid fa-ruler"></i><!--Pérdida de cmcintura--> </h5>
                                              <h5 th:text="${-participante.perdidacmcintura}+ ' ' + 'cm perdidos'"></h5>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="card"  data-bs-toggle="tooltip" title="Grupo al que pertenece">
                                          <div class="card-body" >
                                              <h5><i class="fa-solid fa-users-between-lines"></i><!--Grupo--> </h5>
                                              <h5 th:text="${grupo}"></h5>
                                          </div>
                                        </div>
                                    </div>
                                  </div>

                                  

            
                                </div>

                                <div class="row" style="float: right;">
                                    <a class="btn mt-5" style="float:right" id="btn-part" th:href="@{'/perfil/' + ${user.id}}" >Editar perfil</a>
                                  </div>

                               
                   
    
                           <!-- <div class="box" id="detalles">
    
                                <p><i class="icono fas fa-anchor"></i><span th:text="' Sexo: ' + ${participante.sexo}" /><p>
                                <p><i class="icono fas fa-bug"></i><span th:text="' Edad: ' + ${participante.edad}" /></p>

                                <div class="box1">
                                    <h4><i class="icono fas fa-anchor"></i>Sexo</h4>
                                    <h4 th:text="${participante.sexo}"></h4>
                                </div>
                                <div class="box1">
                                    <h4><i class="icono fas fa-bug"></i>Edad</h4>
                                    <h4 th:text="${participante.edad}"></h4>
                                </div>

                            </div>-->
    
                            <!--<div class="box" id="actividad">
    
                                <<p><i class="icono fas fa-list-alt"></i><span th:text="' Asistencia: ' + ${participante.asistencia}" /></p>
                                <p><i class="icono fas fa-weight"></i><span th:text="' Pérdida de peso: ' + ${participante.perdidaDePeso}" /></p>
                                <p><i class="icono fas fa-people-carry"></i><span th:text="' Grupo: ' + ${grupo}" /></p>

                                <div class="box1">
                                    <h4><i class="icono fas fa-list-alt"></i>Asistencia</h4>
                                    <h4 th:text="${participante.asistencia}"></h4>
                                </div>
                                <div class="box1">
                                    <h4><i class="icono fas fa-weight"></i>Pérdida de peso</h4>
                                    <h4 th:text="${participante.perdidaDePeso}"></h4>
                                </div>
                                <div class="box1">
                                    <h4><i class="icono fas fa-people-carry"></i>Grupo</h4>
                                    <h4 th:text="${grupo}"></h4>
                                </div>
                                
                            </div>-->


                        </div>

                    </div>


                </div>




                
            </div>

         
            <!--<script type="text/javascript">

                const contacto = document.getElementById('contacto');
                const detalles = document.getElementById('detalles');
                const actividad = document.getElementById('actividad');

                function mostrarContacto() {
                contacto.style.display = 'flex';
                detalles.style.display = 'none';
                actividad.style.display = 'none';
                }

                function mostrarDetalles() {
                contacto.style.display = 'none';
                detalles.style.display = 'flex';
                actividad.style.display = 'none';
                }

                function mostrarActividad() {
                contacto.style.display = 'none';
                detalles.style.display = 'none';
                actividad.style.display = 'flex';
                }

                const botonContacto = document.getElementById('botonContacto');
                botonContacto.addEventListener('click', mostrarContacto);

                const botonDetalles = document.getElementById('botonDetalles');
                botonDetalles.addEventListener('click', mostrarDetalles);

                const botonActividad = document.getElementById('botonActividad');
                botonActividad.addEventListener('click', mostrarActividad);



            </script>-->
  

        </div>

    </div>

</body>

</html>