<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>

    <!--PARA GRÁFICOS-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Perfil - Estepper</title>


</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" alt="">
                <h4>Estepper</h4>
            </div>

            <ul>
                <li th:if="${user instanceof T(com.estepper.estepper.model.entity.Coordinador)}">
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li th:if="${user instanceof T(com.estepper.estepper.model.entity.Administrador)}">
                    <a th:href="@{/}">
                        <i class="fa-solid fa-user-pen"></i>
                        <span class="nombre-enlaces">Usuarios</span>
                    </a>
                </li>

                <li th:if="${user instanceof T(com.estepper.estepper.model.entity.Coordinador)}">
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li th:if="${user instanceof T(com.estepper.estepper.model.entity.Administrador)}">
                    <a href="#">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="nombre-enlaces">Mensajes</span>
                    </a>
                </li>
            </ul>

        </div>

        <!-- MENÚ MÓVIL -->
        <div class="menu-movil" th:if="${user instanceof T(com.estepper.estepper.model.entity.Coordinador)}">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>
            <a th:href="@{/listaGrupos}">
                <i class="fa-solid fa-users"></i>
            </a>
            <a th:href="@{/listado}">
                <i class="fa-solid fa-address-card"></i>
            </a>

        </div>

        <div class="menu-movil" th:if="${user instanceof T(com.estepper.estepper.model.entity.Administrador)}">

            <a th:href="@{/}">
                <i class="fa-solid fa-user-pen"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-envelope"></i>
            </a>

        </div>

        <div id="contenido">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="@{/img/p1.png}" alt="imagenPerfil"
                    id="avatar-header" onclick="desplegable()">
                <img width="35" th:src="@{/img/logo.png}" alt="">
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <a th:if="${user instanceof T(com.estepper.estepper.model.entity.Coordinador)}"
                    th:href="@{/chatPartAdmin}">Ayuda</a>
                <div class="dropdown-divider"></div>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</button>
                </form>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="40" th:src="@{/img/p1.png}" alt="imagenPerfil" id="avatar-header">
                                <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <a class="dropdown-item"
                                    th:if="${user instanceof T(com.estepper.estepper.model.entity.Coordinador)}"
                                    th:href="@{/chatPartAdmin}">Ayuda</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</button>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
            <div style="padding-top: 75px;">
                <div class="header-coord">
                    <div style="margin-left: 20px; margin-top: 10%; color: #13405d;">
                        <h3 th:text="${user.nickname}">Nombre</h3>
                    </div>
                    <a class="btn" id="btn-coord" style="margin-top: 10%;" th:href="@{'/perfil/' + ${user.id}}">Editar
                        perfil</a>
                </div>

                <div class="perfil-coord">
                    <!-- Datos -->
                    <div class="dato-coord">
                        <div class="tit-coord">
                            <i class="icono fas fa-key"></i>
                            <span>Código</span>
                        </div>
                        <div class="span-coord"><span th:text="${user.codigo}"></span></div>
                    </div>

                    <div class="dato-coord">
                        <div class="tit-coord">
                            <i class="icono fas fa-envelope"></i>
                            <span>Email</span>
                        </div>
                        <div class="span-coord"><span th:text="${user.email}"></span></div>
                    </div>

                    <div class="dato-coord">
                        <div class="tit-coord">
                            <i class="icono fas fa-thumbtack"></i>
                            <span>Estado cuenta</span>
                        </div>
                        <div class="span-coord"><span th:text="${user.estadoCuenta}"></span></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>

</html>