<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>

    <!--PARA GRÁFICOS-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto">

    <style>
        .datos {
            display: flex;
            flex-wrap: wrap;
            margin-left: 4%;
        }

        .dato {
            display: flex;
            flex-basis: calc(100% / 5);
            align-items: center;
            border: 1px solid #ccc;
            justify-content: space-around;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            padding: 4%;
            margin: 2%;
        }

    </style>

    <title>Perfil - Estepper</title>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                        <i class="fa-solid fa-pen"></i>
                        <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/progreso}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-comments"></i>
                        <span class="nombre-enlaces">Chat</span>
                    </a>
                </li>

            </ul>

        </div>

        <!-- MENÚ MÓVIL -->
        <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>

            <a th:href="@{/cuaderno}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>

            <a th:href="@{/alimentacion}">
                <i class="fa-solid fa-carrot"></i>
            </a>

            <a th:href="@{'/materiales/' + ${user.id}}">
                <i class="fa-solid fa-folder-open"></i>
            </a>

            <a th:href="@{/progreso}">
                <i class="fa-solid fa-chart-line"></i>
            </a>

            <a th:href="@{/chat}">
                <i class="fa-solid fa-comments"></i>
            </a>

        </div>

        <div id="contenido" style="background-color:#afc0cb; ">

            <div class="header-movil">
                <img class="menu-icon" width="35" th:src="${user.fotoParticipante}" alt="imagenPerfil"
                    id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="40" th:src="${user.fotoParticipante}" alt="imagenPerfil"
                                    id="avatar-header" />
                                <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="cuerpoPerfil">
                <div class="container">
                    <div class="cardi2 mt-3">
                        <div class="imagenPerfil">
                            <img width="100" th:src="${user.fotoParticipante}" alt="imagenPerfil" />
                        </div>
                        <div class="col-md-8">
                            <div style="margin-top: 3%;" class="contenidoPerfil mt-10">
                                <h3 th:text="${user.nickname}">Nombre</h3>
                                        <div class="row datos">
                                            <div class="dato">
                                                <h5><i class="fa-solid fa-barcode" title="Código"></i></h5>
                                                <h5 th:text="${user.codigo}"></h5>
                                            </div>
                                            <div class="dato">
                                                <h5><i title="Email" class="icono fas fa-envelope"></i></h5>
                                                <h5 th:text="${user.email}"></h5>
                                            </div>
                                            <div class="dato">
                                                <h5><i class="fa-solid fa-gears" title="Estado"></i></h5>
                                                <h5 th:text="${user.estadoCuenta}"></h5>
                                            </div>
                                            <div class="dato">
                                                <h5><i class="fa-solid fa-calendar-day" title="Edad"></i></h5>
                                                <h5 th:text="'Edad:'+ ' ' + ${edad}"></h5>
                                            </div>
                                            <div class="dato">
                                                <h5><i class="fa-solid fa-venus-mars" title="Género"></i></h5>
                                                <h5 th:text="${sexo}"></h5>
                                            </div>
                                        </div>
    
                                
                            </div>
                        </div>


                    </div>
                    <div class="row justify-content-end" style="width: 50%; margin-left: 20%; margin-top: 3%;">
                        <a class="btn" style="width: 115%" id="btn-part" th:href="@{'/perfil/' + ${user.id}}">Editar
                            perfil</a>
                    </div>
                </div>



            </div>

        </div>

</body>

</html>