<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Objetivos - Estepper</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/objetivos.css}">

    <!-- para jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/objetivos.js"></script>

    <!-- PARA GRÁFICAS -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- PARA TIPOGRAFÍAS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto">

</head>

<body>
    <div class="d-flex">

        <div id="sidebar-container">
            <div class="logo">
                <img width="75" th:src="@{img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                        <i class="fa-solid fa-pen"></i>
                        <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/progreso/' + ${user.id}}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="nombre-enlaces">Mi grupo</span>
                    </a>
                </li>

            </ul>

        </div>

        <!-- MENÚ MÓVIL -->
        <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>

            <a th:href="@{/cuaderno}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>

            <a th:href="@{/alimentacion}">
                <i class="fa-solid fa-carrot"></i>
            </a>

            <a th:href="@{'/materiales/' + ${user.id}}">
                <i class="fa-solid fa-folder-open"></i>
            </a>

            <a th:href="@{'/progreso/' + ${user.id}}">
                <i class="fa-solid fa-chart-line"></i>
            </a>

            <a th:href="@{/chat}">
                <i class="fa-solid fa-people-group"></i>
            </a>

        </div>

        <div id="contenido">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="${user.fotoParticipante}"
                    alt="imagenPerfil" id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <div class="der-header">
                        <!-- Desplegable notificaciones -->
                        <ul class="navbar-nav ml-auto" id="cont-notif">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle-no-caret" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="list-notif">
                                    <h6>Notificaciones</h6>
                                    <div class="dropdown-divider"></div>
                                    <div style="overflow: auto; max-height: 250px;">
                                        <div th:each="notif : ${notificaciones}">
                                            <a style="font-size: 0.85rem;" th:href="${notif.enlace}"
                                                th:text="${notif.mensaje}"></a>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>

                        <!-- Desplegable perfil y cerrar sesión -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img width="40" th:src="${user.fotoParticipante}" alt="imagenPerfil"
                                        id="avatar-header" />
                                    <span sec:authentication="principal.nombre"></span>
                                </a>

                                <div class="dropdown-menu" id="menu-desplegable" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <form th:action="@{/logout}" method="post">
                                        <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">

                <div class="content">

                    <div class="row">
                        <div class="col-12">
                            <div class="objetivos-container">
                                <!--VER SI CERRARLO AQUIII QUE CREO QUE ME GUSTA MÁS, PERO FALTARÍA AJUSTARLO TODO BIEN-->
                                <div class="titulo">
                                    <h1>Mis Objetivos</h1>
                                </div>

                            </div>

                            <h2 style="margin-top: 2%;">Objetivos recomendados</h2>
                            <div class="botones-objetivosRecomendados">
                                <button class="btn-objRecAgua" id="agua">Agua</button>
                                <button class="btn-objRecEjer" id="ejercicio">Ejercicio</button>
                                <button class="btn-objRecDesc" id="descanso">Descanso</button>
                                <button class="btn-objRecEstAnim" id="testAnimico">Test anímico</button>
                            </div>


                            <div class="agua">

                                <div>
                                    <div class="encabezadoAgua">
                                        <h5>Beber 2L diarios de agua</h5>
                                    </div>
                                    <div class="encabezadoAgua-vasitos">
                                        <div class="col-6">
                                            <div class="d-flex" style="margin-left: 25%;">
                                                <div
                                                    th:each="i: ${#numbers.sequence(1, objetivoAgua.cantidadObjetivo)}">
                                                    <i class="fa-solid fa-glass-water vaso azul"
                                                        th:if="${i <= objetivoAgua.vasos }"></i>
                                                    <i class="fa-solid fa-glass-water vaso"
                                                        th:if="${i > objetivoAgua.vasos }"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="finalAgua">
                                    <div style="width:100%">
                                        <div th:if="${objetivoAgua.vasos == 0}">
                                            <p style="margin-top:10px"><strong>Todavía no has bebido ningún
                                                    vaso</strong></p>
                                        </div>
                                        <div th:unless="${objetivoAgua.vasos == 0}">
                                            <p><strong>Cantidad bebida (en litros): </strong>[[${objetivoAgua.vasos *
                                                0.25}]] / [[${objetivoAgua.cantidadObjetivo
                                                * 0.25}]] litros</p>
                                        </div>
                                        <div style="margin-top: -15px;"
                                            th:if="${objetivoAgua.vasos > 0 && objetivoAgua.vasos < objetivoAgua.cantidadObjetivo}">
                                            <p><strong>Cantidad bebida (en vasos): </strong>[[${objetivoAgua.vasos}]] /
                                                [[${objetivoAgua.cantidadObjetivo}]] vasos</p>
                                        </div>
                                        <div style="margin-top: -15px;"
                                            th:if="${objetivoAgua.vasos == objetivoAgua.cantidadObjetivo}">
                                            <p style="color:green"><strong>¡Objetivo completado! Bebiste los
                                                    [[${objetivoAgua.cantidadObjetivo}
                                                    ]] vasos</strong></p>
                                        </div>
                                    </div>

                                    <div style="display: flex; align-items: center;  width: 90%;">
                                        <a style="margin-right: 2%; padding: 5px;" class="btn-agua"
                                            th:href="@{'/agregar_vaso/' + ${user.id}}">Añadir un vaso</a>
                                        <a style="margin-left: 2%; padding: 5px;" class="btn-agua"
                                            th:href="@{'/quitar_vaso/' + ${user.id}}">Eliminar un vaso</a>
                                    </div>



                                </div>

                            </div>



                        </div>

                        <div class="ejercicio">

                            <div class="formulario-ejercicio">
                                <div id="formularioEjercicio">

                                    <h5>¿Hoy has hecho ejercicio?</h5>
                                    <form th:action="@{'/agregar_ejercicio/' + ${user.id}}"
                                        th:object="${objetivoEjercicio}" method="post" class="typing-area">

                                        <div id="opcionesEjercicio">
                                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                                <label for="ejercicio" style="width:30%">Tipo de
                                                    ejercicio:</label>
                                                <select name="ejercicio" class="form-control" style="width:60%">
                                                    <option value="NINGUNO" disabled selected>NINGUNO</option>
                                                    <option value="ANDAR">ANDAR</option>
                                                    <option value="CORRER">CORRER</option>
                                                    <option value="NATACION">NATACIÓN</option>
                                                    <option value="BICICLETA">BICICLETA</option>
                                                    <option value="GIMNASIO">GIMNASIO</option>
                                                    <option value="FUTBOL">FUTBOL</option>
                                                    <option value="BALONCESTO">BALONCESTO</option>
                                                    <option value="TENIS">TENIS</option>
                                                    <option value="PADEL">PADEL</option>
                                                    <option value="BOXEO">BOXEO</option>
                                                    <option value="BAILE">BAILE</option>
                                                    <option value="YOGA">YOGA</option>
                                                    <option value="PILATES">PILATES</option>
                                                    <option value="OTRO">OTRO</option>
                                                </select>
                                            </div>
                                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                                <label for="duracionEjercicio" style="width:30%">Duración (en
                                                    minutos):</label>
                                                <input type="number" id="duracionEjercicio" name="duracionEjercicio"
                                                    class="form-control" min="0" style="width:60%" required>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn-ejercicio" style="margin-left:30%">Agregar
                                            ejercicio</button>

                                    </form>
                                </div>

                            </div>
                            <div class="ejercicioDeHoy">

                                <div class="cabeceraEjercicioDeHoy">
                                    <p>EJERCICIO DE HOY</p>
                                </div>

                                <div class="listaDeEjercicioPaticipante p-2">
                                    <div class="row">
                                        <div class="col-6" th:each="lis:${listaEjercicioParticipante}">
                                            <div
                                                class="tipo d-flex justify-content-between align-items-center py-2 px-3 mb-2">
                                                <div class="title"
                                                    th:text="@{ ${lis.ejercicio}} + ': ' +  ${lis.duracionEjercicio} + ' ' + minutos">
                                                </div>
                                                <div class="trash"><a class="btn-part"
                                                        th:href="@{'/eliminar_ejercicio/' + ${lis.id}}"><i
                                                            class="fa-solid fa-trash"
                                                            style="font-size: 15px; color: rgb(195, 69, 69); margin-left: 3px;"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="descanso">

                            <div>

                                <div class="encabezadoDescanso">
                                    <h5>Te recomendamos dormir 8 horas diarias</h5>
                                </div>

                                <div class="encabezadoDescanso-suenio">
                                    <div id="formularioDescanso" th:if="${objetivoDescanso.horasSuenio == null} ">
                                        <form th:action="@{'/agregar_descanso/' + ${user.id}}"
                                            th:object="${objetivoDescanso}" method="post" class="typing-area">


                                            <label for="horasSuenio">Horas de sueño:</label>
                                            <input type="number" id="horasSuenio" name="horasSuenio" min="0" max="24"
                                                required placeholder="horas">

                                            <input type="number" id="minutosSuenio" name="minutosSuenio" min="0"
                                                max="59" placeholder="minutos" required style="width: 7%;">

                                            <button type="submit" class="btn-descanso">Registrar</button>

                                        </form>
                                    </div>
                                </div>

                                <div id="finalDescanso" style="margin-top:-1%;">
                                    <div th:if="${objetivoDescanso.horasSuenio == null}">
                                        <strong>Todavía no has registrado el descanso de hoy</strong>
                                    </div>
                                    <div
                                        th:if="${objetivoDescanso.horasSuenio > 0 && objetivoDescanso.horasSuenio < objetivoDescanso.horasSuenioObjetivo}">
                                        <p>Has dormido [[${objetivoDescanso.horasSuenio}]] horas y
                                            [[${objetivoDescanso.minutosSuenio}
                                            ]] minutos</p>
                                        <a class="btn-descanso" style="padding: 2%;"
                                            th:href="@{'/eliminar_descanso/' + ${user.id}}">Eliminar registro</a>
                                        <!--<a th:href="@{'/editar_descanso/' + ${user.id} + ${objetivoDescanso.horasSuenio}}">Editar registro de sueño</a>-->
                                    </div>
                                    <div
                                        th:if="${objetivoDescanso.horasSuenio >= objetivoDescanso.horasSuenioObjetivo}">
                                        <p style="color:green"><strong>¡Objetivo conseguido! Has dormido
                                                [[${objetivoDescanso.horasSuenio}
                                                ]] horas y [[${objetivoDescanso.minutosSuenio}
                                                ]] minutos </strong></p>
                                        <a class="btn-descanso" th:href="@{'/eliminar_descanso/' + ${user.id}}">Eliminar
                                            registro</a>
                                        <!--<a th:href="@{'/editar_descanso/' + ${user.id}}">Editar registro de sueño</a> -->
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="testAnimico">

                            <div style="margin-bottom:-2%;">
                                <div class="encabezadoEstadoAnimo">
                                    <h5>¿Cómo te sientes hoy?</h5>
                                </div>
                                <div class="encabezadoEstadoAnimo-estados">
                                    <div id="formularioTestAnimico" th:if="${objetivoEstadoAnimo.estadoAnimo == null} ">
                                        <form th:action="@{'/agregar_estadoAnimo/' + ${user.id}}"
                                            th:object="${objetivoEstadoAnimo}" method="post" class="typing-area">

                                            <input type="radio" id="feliz" name="estadoAnimo" value="FELIZ" hidden>
                                            <label for="feliz" data-toggle="tooltip" data-placement="top"
                                                title="Muy feliz" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-laugh-beam"
                                                    style="font-size: 50px; color:green"></i></label>
                                            <input type="radio" id="contento" name="estadoAnimo" value="CONTENTO"
                                                hidden>
                                            <label for="contento" data-toggle="tooltip" data-placement="top"
                                                title="Contento" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-smile"
                                                    style="font-size: 50px; color: rgb(228, 198, 76);"></i></label>

                                            <input type="radio" id="enamorado" name="estadoAnimo" value="ENAMORADO"
                                                hidden>
                                            <label for="enamorado" data-toggle="tooltip" data-placement="top"
                                                title="Enamorado" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-grin-hearts"
                                                    style="font-size: 50px; color: rgb(213, 73, 171);"></i></label>

                                            <input type="radio" id="serio" name="estadoAnimo" value="SERIO" hidden>
                                            <label for="serio" data-toggle="tooltip" data-placement="top" title="Serio"
                                                class="estado-animo-label"><i class="fa-solid fa-face-meh"
                                                    style="font-size: 50px;color: rgb(82, 40, 13);"></i></label>
                                            <input type="radio" id="cansado" name="estadoAnimo" value="CANSADO" hidden>
                                            <label for="cansado" data-toggle="tooltip" data-placement="top"
                                                title="Cansado" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-tired"
                                                    style="font-size: 50px;color: rgb(144, 76, 228);"></i></label>

                                            <input type="radio" id="nervioso" name="estadoAnimo" value="NERVIOSO"
                                                hidden>
                                            <label for="nervioso" data-toggle="tooltip" data-placement="top"
                                                title="Nervioso" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-grimace"
                                                    style="font-size: 50px; color: rgb(107, 155, 108);"></i></label>

                                            <input type="radio" id="triste" name="estadoAnimo" value="TRISTE" hidden>
                                            <label for="triste" data-toggle="tooltip" data-placement="top"
                                                title="Triste" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-frown"
                                                    style="font-size: 50px; color: rgb(76, 137, 228);"></i></label>

                                            <input type="radio" id="deprimido" name="estadoAnimo" value="DEPRIMIDO"
                                                hidden>
                                            <label for="deprimido" data-toggle="tooltip" data-placement="top"
                                                title="Deprimido" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-sad-cry"
                                                    style="font-size: 50px;color: rgb(70, 165, 175);"></i></label>

                                            <input type="radio" id="enfadado" name="estadoAnimo" value="ENFADADO"
                                                hidden>
                                            <label for="enfadado" data-toggle="tooltip" data-placement="top"
                                                title="Enfadado" class="estado-animo-label"><i
                                                    class="fa-solid fa-face-angry"
                                                    style="font-size: 50px;color: rgb(228, 76, 76);"></i></label>

                                            <div class="botonEstadoAnimico"
                                                style="margin-top: 1%;margin-bottom: 1%; margin-left:28%">
                                                <button type="submit" class="btn-estadoAnimo">Guardar</button>

                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div id="finalEstadoAnimo">
                                <div th:if="${objetivoEstadoAnimo.estadoAnimo == null}">
                                    <strong>Todavía no has registrado cómo te sientes</strong>
                                </div>
                                <div th:unless="${objetivoEstadoAnimo.estadoAnimo == null}" style="width:70%">
                                    <p th:text="'Hoy estás ' + ${objetivoEstadoAnimo.estadoAnimo}"></p>
                                    <a class="btn-estadoAnimo"
                                        th:href="@{'/eliminar_estadoAnimo/' + ${user.id}}">Eliminar registro </a>
                                </div>

                            </div>



                        </div>

                        <h2 style="margin-top: 2%;">Objetivos personalizados</h2>
                        <div class="botones-container d-flex justify-content">
                            <!--<a class="btn my-4" id="btn-part" th:href="@{/objetivos/nuevo}">Crear un objetivo
                                nuevo</a>-->
                            <a class="btn" id="btn-part" title="Crear" href="#"
                                onclick="abrirIframe('modalNuevoObjetivo')">
                                Crear un objetivo nuevo</a>
                        </div>

                        <div class="modal fade" id="modalNuevoObjetivo" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Crear un nuevo objetivo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">


                                        <form th:action="@{/objetivos/guardar}" th:object="${objetivo}" method="post">
                                            <div class="m-3">
                                                <div class="form-group row">

                                                    <label class="col-form-label col-sm-4">Título del nuevo
                                                        objetivo:</label>
                                                    <div class="col-sm-8 mb-2">
                                                        <input type="text" th:field="*{titulo}" class="form-control"
                                                            required id="titulo" />
                                                    </div>

                                                    <label class="col-form-label col-sm-4">Fecha tope para
                                                        cumplirlo:</label>
                                                    <div class="col-sm-8 mb-2">
                                                        <input type="date" th:field="*{fechaVencimiento}"
                                                            class="form-control" id="fechaVencimiento" name="fecha"
                                                            required
                                                            th:min="${#dates.format(fechaActual1, 'yyyy-MM-dd')}" />
                                                    </div>

                                                    <label class="col-form-label col-sm-4">Repetición:</label>
                                                    <div class="col-sm-8 mb-2">
                                                        <select id="repeticion" th:field="*{repeticion}"
                                                            class="form-control" required>
                                                            <option value="NINGUNA">NINGUNA</option>
                                                            <option value="DIARIAMENTE">DIARIAMENTE</option>
                                                            <option value="SEMANALMENTE">SEMANALMENTE</option>
                                                            <option value="SEMANALMENTE">MENSUALMENTE</option>
                                                            <option value="SEMANALMENTE">ANUALMENTE</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="text-center p">
                                                <button type="submit" class="btn" id="btn-part"
                                                    onclick="agregarObjetivo()">Añadir</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="calendario-container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="calendario">
                                        <div class="meses">
                                            <i class="fa fa-angle-left prev icon"></i>
                                            <div id="fecha-seleccionada" class="fecha"></div>
                                            <i class="fa fa-angle-right next icon"></i>
                                        </div>
                                        <div class="dias-semana">
                                            <div class="dia">L</div>
                                            <div class="dia">M</div>
                                            <div class="dia">M</div>
                                            <div class="dia">J</div>
                                            <div class="dia">V</div>
                                            <div class="dia">S</div>
                                            <div class="dia">D</div>
                                        </div>
                                        <div class="dias"></div>
                                    </div>
                                </div>
                                <div class="col-6" style="background-color:floralwhite;width:47%">
                                    <div id="objetivos" style="margin-top:2%"></div>
                                </div>
                            </div>
                            <div id="tabla-objetivos">
                                <div id="filtro"></div>
                                <div id="datos" class="d-flex justify-content-center align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>

    <script>
        function abrirIframe(modalId) {
            const modal = new bootstrap.Modal(document.getElementById(modalId));
            modal.show();
        }

    </script>

</body>

</html>