<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Participantes</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img src="../static/img/logo.png" width="75" th:src="@{img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</button>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>



            <div class="p-4 mt-5" id="participantes">
                <div>
                    <h4>Listado de participantes</h4>
                </div>

                <div class="container-fluid" id="filtros">
                    
                    <!-- Buscador de participantes -->
                    <form class="d-flex justify-content-end" id="buscadorPart">
                        <input id="filtrarParticipantes" class="form-control me-2 light-table-filter"
                            data-table="tablePart" type="text" placeholder="Buscar...">
                            <label for="estado">Estado: </label>
                            <select name="estado" id="estado">
                              <option value="Todos">Todos</option>
                              <option value="BAJA">Baja</option>
                              <option value="ALTA">Alta</option>
                            </select>
                    </form>
                </div>

                <script type="text/javascript">
                     $(document).ready(function () {
                        (function ($) {
                            $('#filtrarParticipantes').keyup(function () {
                                var rex = new RegExp($(this).val(), 'i');
                                $('.buscarParticipantes tr').hide();
                                $('.buscarParticipantes tr').filter(function () {
                                    return rex.test($(this).text());
                                }).show();
                            })
                        }(jQuery));

                    });
                </script>

                <!--ALERTA MODAL -->

                <div class="modal fade" id="alertaModal1" tabindex="-1" aria-labelledby="alertaModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="alertaModalLabel"><i
                                        class="fa-solid fa-triangle-exclamation" style="color: goldenrod;"></i> No se ha
                                    podido completar la acción </h5>

                            </div>
                            <div class="modal-body">
                                <p>El participante ya pertenece a un grupo.</p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    style="float:right">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>



                <!-- Tabla de participantes -->
                <table class="table tablePart" id="tablePart">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Alias</th>
                            <th scope="col">Código</th>
                            <th scope="col">Email</th>
                            <th scope="col" id="columnaGrupo">Id Grupo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody class="buscarParticipantes">
                        <tr th:each="lis:${listado}">
                            <td> <img width="55" th:src="${lis.fotoParticipante}" /></td>
                            <td th:text="${lis.nickname}"></td>
                            <td style="font-weight: bold;" th:text="${lis.codigo}"></td>
                            <td th:text="${lis.email}"></td>
                            <td th:text="${lis.idGrupo}" id="columnaGr"></td>
                            <td th:text="${lis.estadoCuenta}"></td>
                            <td>
                                <!--BOTONES CON ICONOS Y TOOLTIP-->
                                <a class="btn" id="btn-part" data-bs-toggle="tooltip" title="Ver expediente"
                                    th:href="@{'/expediente/' + ${lis.id}}"><i class="fa-solid fa-id-card-clip"></i></a>
                                <a class="btn" id="btn-part" data-bs-toggle="tooltip" title="Editar"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-unir" id="btn-part" data-bs-toggle="tooltip" title="Añadir a un grupo"
                                    th:href="@{'/unirAgrupo/' + ${lis.id}}"><i class="fa-solid fa-user-plus"></i></a>
                                <a class="btn" id="btn-part" data-bs-toggle="tooltip" title="Materiales"
                                    th:href="@{'/materiales/' + ${lis.id}}"><i class="fa-solid fa-folder-open"></i></a>
                          
                                </li>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--PAGINACIÓN-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="page: ${paginas}">
                            <a class="page-link" th:href="@{|/listado?page=${page}}" th:text="${page}"></a>
                        </li>
                    </ul>
                </nav>

                <!--FUNCIÓN PARA FILTRAR POR ESTADO-->

                <script type="text/javascript">

                    document.addEventListener('DOMContentLoaded', function () {
                        var btnEstado = document.getElementById('estado');
                        const btn_unir = document.getElementById('btn-unir');
                        const tablaParticipantes = document.querySelector('.tablePart tbody');

                        btnEstado.addEventListener('change', function () {
                            if (btnEstado.value == "Todos") {
                                for (let i = 0; i < tablaParticipantes.rows.length; i++) {
                                    tablaParticipantes.rows[i].style.display = "";
                                }
                            }
                            if (btnEstado.value == "ALTA" || btnEstado.value == "BAJA") {
                                for (let i = 0; i < tablaParticipantes.rows.length; i++) {
                                    const estadoTabla = tablaParticipantes.rows[i].cells[5].textContent;
                                    if (estadoTabla !== btnEstado.value) {
                                        tablaParticipantes.rows[i].style.display = "none";
                                    } else {
                                        tablaParticipantes.rows[i].style.display = "";
                                    }
                                }
                            }
                        });

                    });
                </script>

                <script>
                    $(document).ready(function () {

                        const tablaParticipantes = document.querySelector('.tablePart tbody');

                        $('#columnaGrupo').hide();
                        for (let i = 0; i < tablaParticipantes.rows.length; i++) {
                            tablaParticipantes.rows[i].cells[4].style.display = "none";
                        }


                        $('.btn-unir').click(function (event) {
                            var idGrupo = $(this).closest('tr').find('td:eq(4)').text();

                            if (idGrupo !== '0') {
                                event.preventDefault();
                                $('#alertaModal1').modal('show');
                            }
                        });
                    });
                </script>

            </div>
            <div style="float: right; margin-right: 60px; margin-top: 60px;">
                <input type="button" class="btn" id="btn-part" name="imprimir" value="Imprimir"
                    onclick="window.print();">
            </div>

        </div>
    </div>

</body>

</html>