<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

    <!-- para jquery-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/progreso.js"></script>
    <script src="/js/validaciones.js"></script>

    <!--PARA GRÁFICOS-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Dashboard progreso -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Progreso - Estepper</title>


</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">
        <div id="sidebar-container">

            <div class="logo">
                <img width="75" th:src="@{/img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                        <i class="fa-solid fa-pen"></i>
                        <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/progreso/' + ${user.id}}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="nombre-enlaces">Mi grupo</span>
                    </a>
                </li>

            </ul>

        </div>

        <!-- MENÚ MÓVIL -->
        <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>

            <a th:href="@{/cuaderno}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>

            <a th:href="@{/alimentacion}">
                <i class="fa-solid fa-carrot"></i>
            </a>

            <a th:href="@{'/materiales/' + ${user.id}}">
                <i class="fa-solid fa-folder-open"></i>
            </a>

            <a th:href="@{'/progreso/' + ${user.id}}">
                <i class="fa-solid fa-chart-line"></i>
            </a>

            <a th:href="@{/chat}">
                <i class="fa-solid fa-people-group"></i>
            </a>

        </div>

        <div id="contenido">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="${user.fotoUsuario}"
                    alt="imagenPerfil" id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <div class="der-header">
                        <!-- Desplegable notificaciones -->
                        <ul class="navbar-nav ml-auto" id="cont-notif">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle-no-caret" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="list-notif">
                                    <h6>Notificaciones</h6>
                                    <div class="dropdown-divider"></div>
                                    <div style="overflow: auto; max-height: 250px;">
                                        <div th:each="notif : ${notificaciones}">
                                            <a style="font-size: 0.85rem;" th:href="${notif.enlace}"
                                                th:text="${notif.mensaje}"></a>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>

                        <!-- Desplegable perfil y cerrar sesión -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img width="40" th:src="${user.fotoUsuario}" alt="imagenPerfil"
                                        id="avatar-header" />
                                    <span sec:authentication="principal.nombre"></span>
                                </a>

                                <div class="dropdown-menu" id="menu-desplegable" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <form th:action="@{/logout}" method="post">
                                        <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <input type="hidden" id="idUser" th:value="${user.id}">

            <!-- DASHBOARD -->
            <div class="dashboard">
                <div class="tit-dash">
                    <h3>Dashboard progreso</h3>
                </div>

                <!-- Valores progreso (top) -->
                <div class="valores-progreso">
                    <div class="valor">
                        <div class="flex-valor">
                            <div class="iz-valor">
                                <i class="fa-solid fa-child-reaching" style="color: rgb(103, 111, 218)"></i>
                            </div>
                            <div class="der-valor">
                                <div class="dato-valor"><span th:text="${-participante.perdidacmcintura} + cm"></span>
                                </div>
                                <div class="bottom-valor"><span>Cintura perdida</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="valor">
                        <div class="flex-valor">
                            <div class="iz-valor">
                                <i class="fa-solid fa-weight-scale" style="color: rgb(221, 175, 100)"></i>
                            </div>
                            <div class="der-valor">
                                <div class="dato-valor"><span th:text="${-participante.perdidaDePeso} + kg"></span>
                                </div>
                                <div class="bottom-valor"><span>Peso perdido </span></div>
                            </div>
                        </div>
                    </div>

                    <div class="valor">
                        <div class="flex-valor">
                            <div class="iz-valor">
                                <i class="fa-solid fa-check" style="color: rgb(122, 218, 103)"></i>
                            </div>
                            <div class="der-valor">
                                <div class="dato-valor"><span th:text="${participante.sesionesCompletas}"></span></div>
                                <div class="bottom-valor"><span>Sesiones completadas</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="valor">
                        <div class="flex-valor">
                            <div class="iz-valor">
                                <i class="fa-solid fa-percent" style="color: rgb(57, 170, 192)"></i>
                            </div>
                            <div class="der-valor">
                                <div class="dato-valor"><span th:text="${participante.asistencia}"></span></div>
                                <div class="bottom-valor"><span>Asistencia media</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Asistencia e IMC -->
                <div class="asis-gr">
                    <h5 class="tit-asis">Asistencia sesiones</h5>
                    <h5 class="tit-asis">Índice de masa corporal</h5>
                </div>

                <div class="asistencia">

                    <div class="asis-ind">

                        <!-- ASISTENCIA SESIONES -->
                        <div class="asis-sesion" th:each="ses:${sesiones}">
                            <span th:text="'S' + ${ses.numSesion}"></span>
                            <div th:if="${ses.asistencia.name() == 'SI'}">
                                <i style="color: rgb(110, 196, 222)" class="fa-solid fa-star"></i>
                            </div>
                            <div th:if="${ses.asistencia.name() == 'NO'}">
                                <i style="color: rgb(225, 222, 222)" class="fa-solid fa-star"></i>
                            </div>

                        </div>
                    </div>

                    <!-- ÍNDICE CORPORAL -->
                    <div class="asis-ind">
                        <canvas id="resultadoIMC"></canvas>
                        <div style="font-size: 130%" th:text="${imc}" id="imc"></div>
                    </div>

                </div>
                <!-- Gráficas peso y perímetro -->
                <div class="filtro-fechas">
                    <!-- Fecha peso -->
                    <div class="filtro">
                        <label for="iniPeso">De:</label>
                        <input type="date" id="iniPeso" class="form-control">

                        <label for="finPeso">A:</label>
                        <input type="date" id="finPeso" class="form-control">
                    </div>

                    <!-- Fecha perimetro-->
                    <div class="filtro">
                        <label for="iniPerimetro">De:</label>
                        <input type="date" id="iniPerimetro" class="form-control">

                        <label for="finPerimetro">A:</label>
                        <input type="date" id="finPerimetro" class="form-control">
                    </div>
                </div>
                <div class="graficas-progreso">
                    <!-- PESO -->
                    <div class="progreso-datos">
                        <div class="header-progreso">
                            <h4>Peso</h4>
                            <a class="btn-plus" data-bs-toggle="tooltip" title="Registrar peso"><i
                                    class="fa-solid fa-circle-plus" style="cursor: pointer; float:right;"></i></a>
                        </div>

                        <!-- Ver registros peso -->
                        <div class="layout-grafica">
                            <div class="pesoTabla">
                                <table class="table tablePart" id="tablaPeso">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="lis:${peso}">
                                            <td th:text="${lis.dato} + ' kg'"></td>
                                            <td th:text="${#temporals.format(lis.fecha, 'dd MMM yyyy')}"></td>
                                            <td th:text="${#temporals.format(lis.fecha, 'HH:mm')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Ver gráfica peso -->
                            <div id="top-grafica"><canvas id="grafica" width="500" height="200"></canvas></div>

                            <!-- Botones para cambiar de vista del peso -->
                            <div class="botones-prog">
                                <button class="btn-reg" id="registroPeso">Ver registros</button>
                                <button class="btn-reg" id="graficaPeso">Ver gráfica</button>
                            </div>
                        </div>

                        <!-- Registar peso -->
                        <div class="bg-white p-5" id="form-peso">
                            <form method="post" th:action="@{/process_peso}" th:object="${progreso}"
                                id="form-registroPeso">
                                <div class="mb-3">
                                    <label for="fechaPeso">Fecha</label>
                                    <input type="datetime-local" th:field="*{fecha}" name="fechaPeso" id="fechaPeso"
                                        class="form-control" required>
                                </div>
                                <div id="error_fechaPeso">
                                    <p style="color: red"><i class="fa-solid fa-triangle-exclamation"></i> Introduzca
                                        una fecha actual o anterior</p>
                                </div>

                                <div class="mb-3">
                                    <label for="datoPeso">Peso (kg)</label>
                                    <input type="number" step="any" th:field="*{dato}" id="datoPeso"
                                        class="form-control" required>
                                </div>
                                <div id="error_datoPeso">
                                    <p style="color: red"><i class="fa-solid fa-triangle-exclamation"></i> Introduzca un
                                        número mayor a 0</p>
                                </div>

                                <div class="btn-form">
                                    <a id="cancelar-pes" class="btn btn-primary">Cancelar</a>
                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- PERÍMETRO ABDOMINAL -->
                    <div class="progreso-datos">
                        <div class="header-progreso">
                            <h4>Perímetro</h4>
                            <a class="btn-plus2" data-bs-toggle="tooltip" title="Registrar perímetro"><i
                                    class="fa-solid fa-circle-plus" style="cursor: pointer; float:right;"></i></a>
                        </div>

                        <!-- Ver registros perímetro -->
                        <div class="layout-grafica">
                            <div class="perimetroTabla">
                                <table class="table tablePart" id="tablaPeso">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="per:${perimetro}">
                                            <td th:text="${per.dato} + ' cm'"></td>
                                            <td th:text="${#temporals.format(per.fecha, 'dd MMM yyyy')}"></td>
                                            <td th:text="${#temporals.format(per.fecha, 'HH:mm')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Ver gráfica perímetro -->
                            <div id="top-grafica"><canvas id="grafica2" width="500" height="200"></canvas></div>

                            <!-- Botones para cambiar de vista del perimetro -->
                            <div class="botones-prog">
                                <button class="btn-reg" id="registroPerimetro">Ver registros</button>
                                <button class="btn-reg" id="graficaPerimetro">Ver gráfica</button>
                            </div>
                        </div>

                        <!-- Registar perímetro -->
                        <div class="bg-white p-5" id="form-perimetro">
                            <form method="post" th:action="@{/process_perimetro}" th:object="${progreso}"
                                id="form-registroPerimetro">
                                <div class="mb-3">
                                    <label>Fecha</label>
                                    <input type="datetime-local" th:field="*{fecha}" id="fechaPerimetro"
                                        class="form-control" required>
                                </div>
                                <div id="error_fechaPerimetro">
                                    <p style="color: red"><i class="fa-solid fa-triangle-exclamation"></i> Introduzca
                                        una fecha actual o anterior</p>
                                </div>

                                <div class="mb-3">
                                    <label>Perímetro (cm)</label>
                                    <input type="number" step="any" th:field="*{dato}" id="datoPerimetro"
                                        class="form-control" required>
                                </div>
                                <div id="error_datoPerimetro">
                                    <p style="color: red"><i class="fa-solid fa-triangle-exclamation"></i> Introduzca un
                                        número mayor a 0</p>
                                </div>

                                <div class="btn-form">
                                    <a id="cancelar-per" class="btn btn-primary">Cancelar</a>
                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>