<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/grupos.css}">
    <link rel="stylesheet" th:href="@{/css/materiales.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <!-- BUSCADOR DE ALIMENTOS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-nUf8aohwTZxv0l0d4A4kmOE+fj7W9PvCO2aS0E1Yjh81pN+w4ezn/jn8wNlvMxvNUnax/aLdQ+z/8W7X9DvI+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-0eGJaBrEYHKPoL3qCz9QvIMQiV7G0QwyG8V7vhkbDUpxFpVtY5l0stzVYZX9k1/1EtxuQ2Q8vnEsptL++Z/w5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Recetas</title>
</head>

<body>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">

        <div id="sidebar-container">


            <div class="logo">
                <img width="75" th:src="@{img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                        <i class="fa-solid fa-pen"></i>
                        <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/progreso}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-comments"></i>
                        <span class="nombre-enlaces">Foro</span>
                    </a>
                </li>

            </ul>

        </div>


        <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <span sec:authentication="principal.nombre"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div style="margin: 1%;" class="bg-white border border-1 p-2 rounded-4 ">
                <div style="display: flex; justify-content: center; flex-direction: column;">
                    <div><h3 style="text-align: center;">Recetas</h3></div>
                    
                </div>
            </div>
            <div style="margin: 1%;" class="bg-white border border-1 p-5 rounded-4 ">
                <div style="display: flex; justify-content: center; flex-direction: column;">

                    <!--TABLA RECETAS-->
                    <div th:if="${listaRecetas.empty}">
                        <div><h6 style="text-align: center;">¡No existe ninguna receta aún!</h6></div>
                    </div>
                    <div th:unless="${listaRecetas.empty}" class="table-responsive">
                        <form class="d-flex" id="search-form" style="margin-top: 2%;">
                            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar" id="search-input">
                          </form>
                          <script>
                            $(document).ready(function () {
                              // Obtener los elementos de la lista de materiales
                              var materiales = $('.material');
                  
                              // Manejar la presentación de resultados cuando se envía el formulario
                              $('#search-form').keyup(function (event) {
                                event.preventDefault();
                                var busqueda = $('#search-input').val().toLowerCase();
                  
                                // Filtrar la lista de materiales para obtener los resultados
                                var resultados = materiales.filter(function () {
                                  var descripcion = $(this).find('.cover').text().toLowerCase();
                                  return descripcion.includes(busqueda);
                                });
                  
                                // Ocultar todos los elementos de la lista de materiales y mostrar solo los resultados
                                materiales.hide();
                                resultados.show();
                              });
                  
                              // Mostrar todos los elementos de la lista de materiales al cargar la página
                              materiales.show();
                            });
                          </script>
                        <table class="table" id="tablePart">
                            <tr th:each="lis:${listaRecetas}">
                                <div class="material">
                                  <div class="cover">
                                    <h5 class="mt-0 mb-1" th:text="${lis.receta}">Nombre de la receta</h5>
                                  </div>
                                  <div class="descripcion">
                                    <div style="display: flex; flex-direction: column;">
                                      <a class="btn" id="btn-part" data-bs-toggle="tooltip"
                                        th:href="@{'/receta/ver/' + ${lis.id}}" title="Ver"><i
                                          class="fa-solid fa-eye"></i></a>
                                        <!--EN VEZ DE TH:REF HACER UN ONCLICK() Y EN LA FUNCION QUE AÑADA UN IFRAME CON EL LINK Y LA PAG-->
                                    </div>
                                    
                                  </div>
                                </div>
                              </tr>
                        </table>
                    </div>
                    <!--CREAR RECETA-->
                    <div><h5 style="text-align: center; margin-top: 3%;">¿Quieres crear una receta nueva?</h5></div>
                    <form class="form-perfil" method="post" th:action="@{/process_receta}"
                    th:object="${lareceta}"  enctype="multipart/form-data">
                        <label class="col-form-label col-sm-4">Nombre de la receta:</label>
                        <div class="col-sm-8 mb-2">
                            <input type="text" th:field="*{receta}" class="form-control" required />
                        </div>
                        <label class="col-form-label col-sm-4">Ingredientes:</label>   
                            <div class="col-sm-8 mb-2">
                                <select th:field="*{ingredientes}" class="form-control" multiple id="lista-alimentos">
                                    <option th:each="ing : ${listaIng}"
                                        th:value="${ing.id}" th:text="${ing.nombre}">
                                    </option>
                                </select>
                                <script language="JavaScript" th:inline="javascript">
                                    $(document).ready(function() {
                                        // Obtener la lista de opciones del select
                                        var opciones = $("#lista-alimentos option");
                            
                                        // Crear un input de búsqueda
                                        var inputBusqueda = $('<input type="text" class="form-control mt-2" placeholder="Buscar...">');
                            
                                        // Agregar el input de búsqueda antes del select
                                        $("#lista-alimentos").before(inputBusqueda);
                            
                                        // Escuchar el evento keyup del input de búsqueda
                                        inputBusqueda.keyup(function() {
                                            // Obtener el término de búsqueda
                                            var term = $(this).val().toLowerCase();
                            
                                            // Filtrar las opciones que contengan el término de búsqueda
                                            var opcionesFiltradas = opciones.filter(function() {
                                                return $(this).text().toLowerCase().indexOf(term) > -1;
                                            });
                            
                                            // Actualizar las opciones del select con las opciones filtradas
                                            $("#lista-alimentos").empty().append(opcionesFiltradas);
                                        });
                                        
                                        // Restaurar todas las opciones del select cuando se cierre
                                        $("#lista-alimentos").on("hidden.bs.select", function() {
                                            $("#lista-alimentos").empty().append(opciones);
                                        });
        
                                        $("#lista-alimentos").keydown("hidden.bs.select", function() {
                                            $("#lista-alimentos").empty().append(opciones);
                                        });
                                    });
                                </script>
                            </div>
                        <label class="col-form-label col-sm-4">Seleccione el archivo:</label>
                        <div class="col-sm-8 mb-2">
                            <input type="file" th:name="file" class="form-control" required />
                        </div>
                        <label class="col-form-label col-sm-4">Pagina:</label>
                        <div class="col-sm-8 mb-2">
                            <input type="number" th:field="*{pag}" class="form-control" />
                        </div>
                    <button class="btn btn-info text-white mt-4 w-100" type="submit">Crear</button>
                    </form>
                    </div>
                    <!--BOTONES GEOMETRÍA NUTRICIONAL Y RECOMENDACIONESRECETAS-->
            </div>
        </div>
    </div>
</body>

</html>