<!DOCTYPE html>
<html lang="es">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <title>Estepper</title>
</head>
<body class="bg-light d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container text-center">
        <p>Felicidades <span sec:authentication="principal.nombre"></span>, ya tienes cuenta en Steper.
                Tu codigo de usuario es :  <div sec:authentication="name"></div>
            ¡No lo olvides! Lo necesitaras para acceder a la aplicacion.
        </p>
        <h3>ESTADO DE LA CUENTA: <span sec:authentication="principal.estadoCuenta"></span></h3>
        <p>Actualmente tu cuenta esta desactivada, para que el
             medico te la active tienes que ir a consulta
        </p>

        <p>Contacta con el medico para pedir tu cita</p>
        <a th:href="@{/contacto_correo}">
            <button>Contacta por correo</button>
          </a>
          <a th:href="@{/contacto_telefono}">
            <button>Contacta por telefono</button>
          </a>

    </div>
</body>
</html>