<!DOCTYPE html>
<html lang="es">
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <link rel="stylesheet" th:href="@{/css/out.css}">

    <title>Estepper</title>
</head>

<body class="bg-light d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="logo">
        <img width="75" th:src="@{/img/logo.png}" alt="">
    </div>
    <div class="container text-center bg-white border border-1 p-5 rounded-4" id="success">
        <p>Felicidades <span th:text="${nickname}"></span>, ya tienes cuenta en Estepper.</p>
        <p class="codigo">Tu código de usuario es: <span th:text="${codigo}"></span></p>
        <p>¡No lo olvides! Lo necesitarás para acceder a la aplicación.</p>
    </div>

    <div class="container text-center bg-white border border-1 p-5 rounded-4" id="success">
        <h5>Estado de la cuenta: <span th:text="${estadoCuenta}"></span></h5>
        <p>Actualmente tu cuenta está desactivada, para que el
            médico te la active tienes que ir a consulta
        </p>

        <p>Contacta con el médico para pedir tu cita</p>

        <div class="contactos">
            <p class="info-contacto">Teléfono: +34677543322</p>
            <p class="info-contacto">E-mail: mercedes@madrid.es</p>
        </div>


    </div>

    <p style="text-align: center; margin-top: 1.5%;">Pincha <a class="text-decoration-none" th:href="@{/login}">aquí</a>
        para iniciar
        sesión.</p>


</body>

</html>