<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

  <link rel="stylesheet" th:href="@{/css/estilos.css}">
  <link rel="stylesheet" th:href="@{/css/sesiones.css}">
  <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>
  <script src="/js/menu.js"></script>

  <!--PARA GRÁFICOS-->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-nUf8aohwTZxv0l0d4A4kmOE+fj7W9PvCO2aS0E1Yjh81pN+w4ezn/jn8wNlvMxvNUnax/aLdQ+z/8W7X9DvI+A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
    integrity="sha512-0eGJaBrEYHKPoL3qCz9QvIMQiV7G0QwyG8V7vhkbDUpxFpVtY5l0stzVYZX9k1/1EtxuQ2Q8vnEsptL++Z/w5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>Sesión - Estepper</title>


</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <div class="d-flex">
    <!-- MENÚ -->
    <div id="sidebar-container">

      <div class="logo">
        <img width="75" th:src="@{/img/logo.png}" />
        <h4>Estepper</h4>
      </div>

      <ul>
        <li>
          <a th:href="@{/}">
            <i class="fa-solid fa-house"></i>
            <span class="nombre-enlaces">Inicio</span>
          </a>
        </li>

        <li>
          <a th:href="@{/cuaderno}">
            <i class="fa-solid fa-pen"></i>
            <span class="nombre-enlaces">Cuaderno</span>
          </a>
        </li>

        <li>
          <a th:href="@{/actividades}">
            <i class="fa-solid fa-person-hiking"></i>
            <span class="nombre-enlaces">Actividades</span>
          </a>
        </li>

        <li>
          <a th:href="@{/alimentacion}">
            <i class="fa-solid fa-carrot"></i>
            <span class="nombre-enlaces">Alimentación</span>
          </a>
        </li>

        <li>
          <a th:href="@{'/materiales/' + ${user.id}}">
            <i class="fa-solid fa-folder-open"></i>
            <span class="nombre-enlaces">Materiales</span>
          </a>
        </li>

        <li>
          <a th:href="@{/progreso}">
            <i class="fa-solid fa-chart-line"></i>
            <span class="nombre-enlaces">Progreso</span>
          </a>
        </li>
        <li>
          <a th:href="@{/chat}">
            <i class="fa-solid fa-comments"></i>
            <span class="nombre-enlaces">Chat</span>
          </a>
        </li>

      </ul>

    </div>

    <!-- MENÚ MÓVIL -->
    <div class="menu-movil">

      <a th:href="@{/}">
          <i class="fa-solid fa-house"></i>
      </a>

      <a th:href="@{/cuaderno}">
          <i class="fa-solid fa-pen"></i>
      </a>
      <a th:href="@{/actividades}">
          <i class="fa-solid fa-person-hiking"></i>
      </a>

      <a th:href="@{/alimentacion}">
          <i class="fa-solid fa-carrot"></i>
      </a>

      <a th:href="@{'/materiales/' + ${user.id}}">
          <i class="fa-solid fa-folder-open"></i>
      </a>

      <a th:href="@{/progreso}">
          <i class="fa-solid fa-chart-line"></i>
      </a>

      <a th:href="@{/chat}">
          <i class="fa-solid fa-comments"></i>
      </a>

  </div>

    <div id="contenido">
      <div class="header-movil">
        <img class="menu-icon" style="cursor:pointer" width="35" th:src="${user.fotoParticipante}" alt="imagenPerfil" id="avatar-header" onclick="desplegable()"/>
        <img width="35" th:src="@{/img/logo.png}" />
        <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
      </div>

      <div class="desplegable-perfil">
        <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
        <form th:action="@{/logout}" method="post">
          <button class="dropdown-item" type="submit">Cerrar sesión</a>
        </form>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img width="40" th:src="${user.fotoParticipante}" alt="imagenPerfil" id="avatar-header" />
                <span sec:authentication="principal.nombre"></span>
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                <div class="dropdown-divider"></div>
                <form th:action="@{/logout}" method="post">
                  <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
              </div>
            </li>

          </ul>
        </div>
      </nav>

      <div style="padding-top: 75px;">
        <div class="layout-sesion">
          <div class="tit-sesion">
            <div>
              <h2 th:text="'Sesión' + ' ' + ${sesion.numSesion}"></h2>
            </div>
          </div>

          <form method="post" th:action="@{'/process_sesion/' + ${sesion.numSesion}}" th:object="${sesion}">
            <div>
              <div class="flex-sesion">

                <div class="cont-flex">
                  <label for="asistencia" class="mt-4">Asistencia</label>
                  <select id="asistencia" class="form-select" th:field="*{asistencia}">
                    <option th:text="Si" th:value="SI"></option>
                    <option th:text="No" th:value="NO"></option>
                    <option th:text="Justificado" th:value="JUSTIFICADO"></option>
                  </select>

                  <div class="mt-4"><label for="observaciones">Tus notas</label></div>
                  <div><textarea id="observaciones" class="form-control" placeholder="Escribe aquí..."
                      th:field="*{observaciones}" rows="4"></textarea></div>
                </div>

                <div class="cont-flex">
                  <div class="mt-4"><label>Diapositivas</label></div>
                  <img width="20" th:src="@{/img/iconoPdf.png}" />
                  <a class="enlace-diapo" th:text="'Taller online sesion ' + ${sesion.numSesion} + '.pdf'"
                    th:href="@{'/diapos/descargar/' + ${sesion.numSesion}}"></a>
                </div>
              </div>

              <div class="botones-sesion mt-5">
                <a class="btn-sesion" id="atras" th:href="@{/sesiones}">Atrás</a>
                <button class="btn-sesion" id="guardar">Guardar</button>
              </div>
          </form>
          <div style="display: flex; justify-content: center;">
            <div style="margin-right: 5%; margin-top: 3%;"><a class="btn" id="btn-part" title="Terminar" href="#"
                onclick="abrirIframe('mi-modal')">
                ¿Has terminado la sesión?</a>
            </div>
          </div>
          <!--Modal-->
          <div class="modal fade" id="mi-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Sesión</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                  <form style="margin-top: 2%;" class="form-perfil" method="post"
                    th:action="@{'/process_sesionTerm/' + ${sesion.numSesion}}" th:object="${lasesion}">
                    <div class="input-group mt-2">
                      <label class="col-4 col-form-label">Peso perdido (kg): </label>
                      <input type="number" th:field="*{pesoPerdido}" class="form-control" required />
                    </div>
                    <div class="input-group mt-2">
                      <label class="col-4 col-form-label">Cm Cintura perdidos: </label>
                      <input type="number" th:field="*{cmsPerdidos}" class="form-control" required />
                    </div>
                    <button class="btn btn-info text-white mt-4 w-100" type="submit">Terminar sesión</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <script>
            function abrirIframe(modalId) {
              const modal = new bootstrap.Modal(document.getElementById(modalId));
              modal.show();
            }
          </script>
          <!--FIN MODAL-->

        </div>

      </div>
    </div>

  </div>

</body>

</html>