<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="/js/menu.js"></script>

    <script src="https://kit.fontawesome.com/6dc9bb4522.js" crossorigin="anonymous"></script>

    <title>Receta - Estepper</title>
</head>

<body>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="d-flex">

        <div id="sidebar-container">


            <div class="logo">
                <img width="75" th:src="@{../img/logo.png}" />
                <h4>Estepper</h4>
            </div>

            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nombre-enlaces">Inicio</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/cuaderno}">
                        <i class="fa-solid fa-pen"></i>
                        <span class="nombre-enlaces">Cuaderno</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/actividades}">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span class="nombre-enlaces">Actividades</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/alimentacion}">
                        <i class="fa-solid fa-carrot"></i>
                        <span class="nombre-enlaces">Alimentación</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/materiales/' + ${user.id}}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span class="nombre-enlaces">Materiales</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{'/progreso/' + ${user.id}}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nombre-enlaces">Progreso</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat}">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="nombre-enlaces">Mi grupo</span>
                    </a>
                </li>

            </ul>

        </div>

        <!-- MENÚ MÓVIL -->
        <div class="menu-movil">

            <a th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>

            <a th:href="@{/cuaderno}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a th:href="@{/actividades}">
                <i class="fa-solid fa-person-hiking"></i>
            </a>

            <a th:href="@{/alimentacion}">
                <i class="fa-solid fa-carrot"></i>
            </a>

            <a th:href="@{'/materiales/' + ${user.id}}">
                <i class="fa-solid fa-folder-open"></i>
            </a>

            <a th:href="@{'/progreso/' + ${user.id}}">
                <i class="fa-solid fa-chart-line"></i>
            </a>

            <a th:href="@{/chat}">
                <i class="fa-solid fa-people-group"></i>
            </a>

        </div>


        <div id="contenido">
            <div class="header-movil">
                <img class="menu-icon" style="cursor:pointer" width="35" th:src="${user.fotoParticipante}"
                    alt="imagenPerfil" id="avatar-header" onclick="desplegable()" />
                <img width="35" th:src="@{/img/logo.png}" />
                <a><i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i></a>
            </div>

            <div class="desplegable-perfil">
                <a th:href="@{'/mostrarperfil/' + ${user.id}}">Mi perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Cerrar sesión</a>
                </form>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light mr-3" id="header">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="burger"><a class="btn" onclick="desplazar()"><i class="fa-solid fa-bars"></i></a></div>

                    <div class="der-header">
                        <!-- Desplegable notificaciones -->
                        <ul class="navbar-nav ml-auto" id="cont-notif">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle-no-caret" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bell" style="font-size: 1.5rem; padding-right: 4px;"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="list-notif">
                                    <h6>Notificaciones</h6>
                                    <div class="dropdown-divider"></div>
                                    <div th:each="notif : ${notificaciones}">
                                        <a style="font-size: 0.85rem;" th:href="${notif.enlace}"
                                            th:text="${notif.mensaje}"></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                    <form th:action="@{/logout}" method="post">
                                        <button style="text-align: center; font-size: 0.85rem;" class="dropdown-item"
                                            type="submit">Ver todas</a>
                                    </form>
                                </div>
                            </li>
                        </ul>

                        <!-- Desplegable perfil y cerrar sesión -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img width="40" th:src="${user.fotoParticipante}" alt="imagenPerfil"
                                        id="avatar-header" />
                                    <span sec:authentication="principal.nombre"></span>
                                </a>

                                <div class="dropdown-menu" id="menu-desplegable" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" th:href="@{'/mostrarperfil/' + ${user.id}}">Mi Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <form th:action="@{/logout}" method="post">
                                        <button class="dropdown-item" type="submit">Cerrar sesión</a>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>

            <div
                style="display: grid; justify-content: center; align-items: center; background-color:#0dcaf0;border-radius: 5%; padding-top: 75px;">
                <h4 style="margin-top: 8%; margin-bottom: 5%; color:azure">Recetas</h4>
            </div>

            <iframe th:src="@{'/recetas/' + ${link}}" width="100%" height="250%" frameBorder="0"></iframe>


        </div>
    </div>
</body>

</html>